﻿@model DespensasCore.Models.PreguntaItem

@{
    ViewData["Title"] = "Delete";
}

<h1>Borrar Pregunta</h1>

<h3>Desea borrar la siguiente pregunta?</h3>
<div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumPregunta)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumPregunta)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TextoPregunta)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TextoPregunta)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastUpdate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastUpdate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a class="btn btn-info" asp-action="Index"><i class="fas fa-backward"></i> Regresar</a>
    </form>
</div>

<script>
    window.addEventListener("load", function (event) {
        document.querySelector('.active').classList.remove('active');
        document.getElementById("DBConfiguracion").setAttribute("aria-expanded", "true");
        document.getElementById("DBCPreguntas").classList.add("active");
        console.log("Pruebas");
    });
</script>
