﻿@model DespensasCore.Models.PreguntaItem

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>PreguntaItem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NumPregunta" class="control-label"></label>
                <input asp-for="NumPregunta" class="form-control" />
                <span asp-validation-for="NumPregunta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TextoPregunta" class="control-label"></label>
                <input asp-for="TextoPregunta" class="form-control" />
                <span asp-validation-for="TextoPregunta" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-info" asp-action="Index"><i class="fas fa-backward"></i> Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    window.addEventListener("load", function (event) {
        document.querySelector('.active').classList.remove('active');
        document.getElementById("DBConfiguracion").setAttribute("aria-expanded", "true");
        document.getElementById("DBCPreguntas").classList.add("active");
        console.log("Pruebas");
    });
</script>
