﻿@model IEnumerable<DespensasCore.Models.PreguntaItem>

@{
    ViewData["Title"] = "Index";
}

<h1>Preguntas a Realizar</h1>



<div class="card">
    <div class="card-header">

        <div>
            <a class="btn btn-success" asp-action="Create"><i class="fa fa-plus"></i> Nueva Pregunta</a>
        </div>
    </div>
    <div class="card-body">
        <table class="table dtable">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.NumPregunta)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TextoPregunta)
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.NumPregunta)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TextoPregunta)
                        </td>
                        <td class="d-flex">
                            <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-edit"></i></a>
                            <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id"><i class="fa fa-bars"></i></a>
                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

<script>
    window.addEventListener("load", function (event) {
        document.querySelector('.active').classList.remove('active');
        document.getElementById("DBConfiguracion").setAttribute("aria-expanded", "true");
        document.getElementById("DBCPreguntas").classList.add("active");
        console.log("Pruebas");
    });
</script>
