﻿@model IEnumerable<DespensasCore.Models.Asignado>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Asignados</h1>
@*
    <p>
        <a asp-action="Create">Create New</a>
    </p>
*@

<table class="table dtable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Candidato)
            </th>
            <th>
                Asignado a
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastUpdate)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Candidato.Nombre)
                </td>
                <td>
                    @foreach (var ts in ViewBag.UserAsignados)
                    {
                        @if (ts.Candidato.Id == item.Candidato.Id)
                        {
                            @ts.User.Email
                        }
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastUpdate)
                </td>

                <td class="d-flex">
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-edit"></i></a>
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id"><i class="fa fa-bars"></i></a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-trash"></i></a>
                </td>

            </tr>
        }
    </tbody>
</table>

<script>
    window.addEventListener("load", function (event) {
        document.querySelector('.active').classList.remove('active');
        document.getElementById("DBCandidatos").setAttribute("aria-expanded", "true");
        document.getElementById("DBCAsignados").classList.add("active");
        console.log("Pruebas");
    });
</script>
