﻿@model IEnumerable<DespensasCore.Models.Proyecto>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Proyectos</h1>

@{
    if (ViewBag.flag == true)
    {
        <div class="btn btn-warning">No existen Programas, primero debes registrar un Programa</div>
    }
    else
    {
        <a class="btn btn-success" asp-action="Create"><i class="fa fa-plus"></i> Registrar Nuevo Proyecto</a>
    }
}

<table class="table dtable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaIncio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaFin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Presupuesto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroAceptados)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Programa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastUpdate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaIncio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaFin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Presupuesto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumeroAceptados)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Programa.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastUpdate)
                </td>
                <td class="d-flex">
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-edit"></i></a>
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id"><i class="fa fa-bars"></i></a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-trash"></i></a>
                    <a class="btn btn-info" href="#" data-toggle="modal" data-toggletwo="tooltip" data-proyectoid="@item.Id" data-target="#registrarEtapaModal" title="Registrar Etapa"> <i class="fas fa-file-alt"></i> </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="registrarEtapaModal" tabindex="-1" role="dialog" aria-labelledby="registrarEtapaLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <!--Tittles Section-->
            <div class="modal-header">
                <h5 class="modal-title" id="registrarEtapaLabel">Registro de Etapa del Proyecto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <!--Forms Section-->
            <div class="modal-body">
                <form asp-action="Create" id="CreateEtapaProyecto" asp-controller="Etapas">
                    <input type="hidden" name="ProyectoId" id="ProyectoId" value="" />

                    <div class="form-group">
                        <label for="Year" class="control-label">Año</label>
                        <input type="date" id="Year" name="Year" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="Descripcion" class="control-label">Descripcion</label>
                        <input type="text" id="Descripcion" name="Descripcion" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="Resultados" class="control-label">Resultados Esperados</label>
                        <input type="text" id="Resultados" name="Resultados" class="form-control" />
                    </div>
                </form>
            </div>

            <!--Buttons Section-->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" form="CreateEtapaProyecto" class="btn btn-primary">Registrar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script>
        $('#registrarEtapaModal').on('show.bs.modal', function (event) {
            var proyectoId = $(event.relatedTarget).data('proyectoid')
            console.log(proyectoId);
            $(this).find('.modal-body #ProyectoId').val(proyectoId)

        })
    </script>

}
