﻿@model DespensasCore.Models.AsignadoAdoptante

@{
    ViewData["Title"] = "Create";
}

<h1>Crear</h1>


<h4>Asignado Adoptante</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CandidatoId" class="control-label"></label>
                <select asp-for="CandidatoId" class="form-control" asp-items="ViewBag.CandidatoId"></select>
            </div>
            <div class="form-group">
                <label asp-for="AdoptanteId" class="control-label"></label>
                <select asp-for="AdoptanteId" asp-items="ViewBag.AdoptanteId" class="form-control"></select>

            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-info" asp-action="Index"><i class="fas fa-backward"></i> Regresar</a>
</div>