﻿@model DespensasCore.Models.Candidato

@{
    ViewData["Title"] = "Delete";
}


<h1>Confirmar Borrado</h1>
<div>
    <h4>Candidato</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Calle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Calle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Numero)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Numero)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Referencias)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Referencias)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Colonia)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Colonia)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Situacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Situacion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DireccionGMaps)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DireccionGMaps)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TipoReportante)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TipoReportante)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastUpdate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastUpdate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
