﻿@model IEnumerable<DespensasCore.Models.Candidato>

@{
    ViewData["Title"] = "Index";
}


<div class="card">

    <div class="card-body">


        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Calle)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Numero)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Colonia)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Situacion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Telefono)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TipoReportante)
                    </th>
                    @*
                        @if(User.IsInRole("Coordinador") || User.IsInRole("Admin"))
                        {
                            <th>Asignado a</th>
                            <th></th>
                        }
                        else
                        {
                            <th></th>
                        }*@
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Calle)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Numero)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Colonia)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Situacion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Telefono)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TipoReportante)
                        </td>
                        @if (User.IsInRole("Coordinador") || User.IsInRole("Admin"))
                        {
                            @*
                                <td>
                                    @foreach (var ts in ViewBag.Adoptantes)
                                    {
                                        @if (ts.Candidato.Id == item.Id)
                                        {
                                            @ts.AdoptanteId
                                        }
                                    }
                                </td>*@

                            <td class=" d-flex flex-row">
                                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id" data-toggletwo="tooltip" data-placement="top" title="Editar"><i class="fa fa-edit"></i></a>
                                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id" data-toggletwo="tooltip" data-placement="top" title="Detalles"><i class="fa fa-bars"></i></a>
                                <!--<a class="btn btn-danger" data-toggletwo="tooltip" data-placement="top" title="Eliminar" asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-trash"></i></a>-->
                            </td>

                        }
                        else if (User.IsInRole("Organizacion"))
                        {

                            <td class=" d-flex flex-row">
                                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id" data-toggletwo="tooltip" data-placement="top" title="Detalles"><i class="fa fa-bars"></i></a>
                            </td>

                        }


                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
