﻿@model DespensasCore.Models.RespuestaItem

@{
    ViewData["Title"] = "Create";
}

<h1>Crear</h1>

<h4>RespuestaItem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PreguntaItemId" class="control-label">Pregunta</label>
                <select asp-for="PreguntaItemId" class ="form-control" asp-items="ViewBag.PreguntaItemId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TextoRespuesta" class="control-label"></label>
                <input asp-for="TextoRespuesta" class="form-control" />
                <span asp-validation-for="TextoRespuesta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Valor" class="control-label"></label>
                <input asp-for="Valor" class="form-control" />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-info" asp-action="Index"><i class="fas fa-backward"></i> Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    window.addEventListener("load", function (event) {
        document.querySelector('.active').classList.remove('active');
        document.getElementById("DBConfiguracion").setAttribute("aria-expanded", "true");
        document.getElementById("DBCRespuestas").classList.add("active");
        console.log("Pruebas");
    });
</script>