﻿@model DespensasCore.Models.RespuestaItem

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h1>Confirmar Borrado</h1>
<div>
    <h4>RespuestaItem</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PreguntaItem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PreguntaItem.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TextoRespuesta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TextoRespuesta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastUpdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastUpdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a class="btn btn-info" asp-action="Index"><i class="fas fa-backward"></i> Regresar</a>
    </form>
</div>

<script>
    window.addEventListener("load", function (event) {
        document.querySelector('.active').classList.remove('active');
        document.getElementById("DBConfiguracion").setAttribute("aria-expanded", "true");
        document.getElementById("DBCRespuestas").classList.add("active");
        console.log("Pruebas");
    });
</script>