﻿@model DespensasCore.Models.RespuestaItem

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>RespuestaItem</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PreguntaItem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PreguntaItem.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TextoRespuesta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TextoRespuesta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastUpdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastUpdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a class="btn btn-info" asp-action="Index"><i class="fas fa-backward"></i> Regresar</a>
</div>

<script>
    window.addEventListener("load", function (event) {
        document.querySelector('.active').classList.remove('active');
        document.getElementById("DBConfiguracion").setAttribute("aria-expanded", "true");
        document.getElementById("DBCRespuestas").classList.add("active");
        console.log("Pruebas");
    });
</script>