﻿@model IEnumerable<DespensasCore.Models.RespuestaItem>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Opciones de Respuesta</h1>

<p>
    <div>
        <a class="btn btn-success" asp-action="Create"><i class="fa fa-plus"></i> Crear Nueva Respuesta</a>
    </div>

</p>
<table class="table dtable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PreguntaItem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TextoRespuesta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PreguntaItem.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TextoRespuesta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td class="d-flex">
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-edit"></i></a>
                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id"><i class="fa fa-bars"></i></a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>

<script>
    window.addEventListener("load", function (event) {
        document.querySelector('.active').classList.remove('active');
        document.getElementById("DBConfiguracion").setAttribute("aria-expanded", "true");
        document.getElementById("DBCRespuestas").classList.add("active");
        console.log("Pruebas");
    });
</script>