﻿
@{
    ViewData["Title"] = "FAQ";
}

<h1>FAQ</h1>

<script>
    window.addEventListener("load", function (event) {
        document.querySelector('.active').classList.remove('active');
        document.getElementById("DBPublico").setAttribute("aria-expanded", "true");
        document.getElementById("DBPPreguntas").classList.add("active");
        console.log("Pruebas");
    });
</script>