﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col">
        @if (User.IsInRole("Coordinador"))
        {
            @*
            <h1>
                Total= @ViewBag.total <br />
                Asignados= @ViewBag.asignados<br />
                No Asignados= @ViewBag.noAsignados<br />
                No Atendidos= @ViewBag.noAtendidos<br />
                Encuestados= @ViewBag.encuestados
            </h1>*@

            <div class="card">
                <div class="card-header">
                    Asignación de Registros
                </div>
                <div class="card-body">
                    Chart ira aqui con los Asignados, No Asignados, No Atendidos, Encuestados
                    <canvas id="myChart" width="400" height="100"></canvas>
                </div>
            </div>
        }
        else if (User.IsInRole("Trabajo Social"))
        {
            @*
            <h1>
                Total= @ViewBag.total <br />
                Pendientes= @ViewBag.pendientes<br />
                No Atendidos= @ViewBag.noAtendidos<br />
                Encuestados= @ViewBag.encuestados
            </h1>*@
            <!------------------------------------------>
            <div class="card">

                <div class="card-header">
                    <p>Tarjetas rapidas</p>
                </div>

                <div class="row">

                    <div class="card">
                        <div class="card-header">
                            Casos pendientes por atender
                        </div>

                        <div class="card-body">
                            <h5 class="card-title">Numero de casos: </h5>
                            <p class="card-text"> @ViewBag.pendientes </p>
                            <a class="btn btn-primary" asp-area="" asp-controller="Candidatos" asp-action="Index">Ver a detalle</a>
                        </div>
                    </div>


                </div>
            </div>
            <!------------------------------------------>
            <div class="card">
                <div class="card-header">
                    Asignación de Registros
                </div>
                <div class="card-body">
                    Chart con los Pendientes/No Atendidos y Encuestados
                    <canvas id="myChart" width="400" height="100"></canvas>
                </div>
            </div>
        }
    </div>

</div>

@section Scripts{

    @if (User.IsInRole("Coordinador"))
    {
        <script>
            var ctx = document.getElementById('myChart').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ['Asignados', 'No Asignados', 'No Atendidos', 'Encuestados'],
                    datasets: [{
                        label: '# de Candidatos',
                        data: [@ViewBag.asignados, @ViewBag.noAsignados, @ViewBag.noAtendidos, @ViewBag.encuestados],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        </script>
    }
    else if (User.IsInRole("Trabajo Social"))
    {
        <script>
            var ctx = document.getElementById('myChart').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ['Pendientes', 'No Atendidos', 'Encuestados'],
                    datasets: [{
                        label: '# de Candidatos',
                        data: [@ViewBag.pendientes, @ViewBag.noAtendidos, @ViewBag.encuestados],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        </script>
    }

}