﻿@model DespensasCore.Models.IngresoEgreso

@{
    ViewData["Title"] = "Create";
}

<h1>Registro de un nuevo Ingreso o Egreso</h1>

<h4>Ingreso/Egreso</h4>
<hr />
<div class="row">
    <div class="col-md-4">

        <button onclick="Prueba()">A</button>
        
        <form enctype="multipart/form-data" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoRegistro" class="control-label"></label>
                <select onchange="TR()" id="TipoReg" asp-for="TipoRegistro" class="form-control" asp-items="@Html.GetEnumSelectList<DespensasCore.Utilities.TipoRegistro>()"></select>
                <span asp-validation-for="TipoRegistro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label id="TipoCambio" asp-for="ProveedorId" class="control-label"></label>
                <!--<select id="TRDropDown" asp-for="ProveedorId" class="form-control" asp-items="@ViewBag.nada" AutoPostBack="True" OnSelectedIndexChanged="DropDownSelection_Change" runat="server"></select>-->
                <select id="TRDropDownNada" class="form-control" runat="server"></select>
                <select id="TRDropDownProveedor" asp-for="ProveedorId" class="form-control" asp-items="@ViewBag.ProveedorId" runat="server"></select>
                <select id="TRDropDownDonante" asp-for="ProveedorId" class="form-control" asp-items="@ViewBag.DonanteId" runat="server"></select>

                <!---------------------------------------------------------------------------------->
                <!--
    <asp:ScriptManager ID="ScriptManager1" runat="server" />
    <asp:UpdatePanel ID="UpdatePanel1" runat="server">
        <ContentTemplate>
            <asp:Calendar ID="Calendar1" ShowTitle="True" OnSelectionChanged="Calendar1_SelectionChanged" runat="server" />
            <div>
                Background:
                <br />
                <asp:DropDownList ID="ColorList" AutoPostBack="True" OnSelectedIndexChanged="DropDownSelection_Change" runat="server">
                    <asp:ListItem Selected="True" Value="White">White</asp:ListItem>
                    <asp:ListItem Value="Silver">Silver</asp:ListItem>
                    <asp:ListItem Value="DarkGray">Dark Gray</asp:ListItem>
                    <asp:ListItem Value="Khaki">Khaki</asp:ListItem>
                    <asp:ListItem Value="DarkKhaki">Dark Khaki</asp:ListItem>
                </asp:DropDownList>
            </div>
            <br />Selected date:
            <asp:Label ID="SelectedDate" runat="server">None.</asp:Label>
        </ContentTemplate>
    </asp:UpdatePanel>

    <script runat="server" language="C#">
        void DropDownSelection_Change(Object sender, EventArgs e)
        {
            Calendar1.DayStyle.BackColor = System.Drawing.Color.FromName(ColorList.SelectedItem.Value);
        }

        protected void Calendar1_SelectionChanged(object sender, EventArgs e)
        {
            SelectedDate.Text = Calendar1.SelectedDate.ToString();
        }

    </script>
    -->
                <!------------------------------------------------------------------------------>

            </div>
            <div class="form-group">
                <label asp-for="MontoAntesIVA" class="control-label"></label>
                <input asp-for="MontoAntesIVA" class="form-control" onkeydown="DetectorIVA()" />
                <span asp-validation-for="MontoAntesIVA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MontoDespuesIVA" class="control-label"></label>
                <input asp-for="MontoDespuesIVA" class="form-control" onkeydown="DetectorDIVA()" />
                <span asp-validation-for="MontoDespuesIVA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaCompra" class="control-label"></label>
                <input asp-for="FechaCompra" class="form-control" />
                <span asp-validation-for="FechaCompra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProyectoId" class="control-label"></label>
                <select asp-for="ProyectoId" class="form-control" asp-items="ViewBag.ProyectoId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Comprobante" class="control-label"></label>
                <input asp-for="Comprobante" class="form-control-file" name="files" type="file" />
                <!--<input asp-for="Comprobante" class="form-control" style="display:none" id="IDComprobante" />-->
            </div>
            <div class="form-group">
                <label asp-for="BankAccountId" class="control-label"></label>
                <select asp-for="BankAccountId" class="form-control" asp-items="ViewBag.BankAccountId"></select>
            </div>

            <div class="form-group">
                <input type="submit" value="Guardar Cambios" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar a la lista</a>
</div>
<script runat="server">
    window.addEventListener("DOMContentLoaded", function (event) {
        document.getElementById("TipoCambio").innerHTML = "Tipo Registro";
        document.getElementById("TRDropDownProveedor").style.display = "none";
        document.getElementById("TRDropDownDonante").style.display = "none";
/*        document.getElementById("TipoCambio").innerHTML = localStorage.getItem("TC");
        document.getElementById("TipoCambio").setAttribute("asp-for", localStorage.getItem("AuxFor"));
        document.getElementById("TRDropDown").setAttribute("asp-for", localStorage.getItem("AuxFor"));
        document.getElementById("TRDropDown").setAttribute("asp-items", localStorage.getItem("AuxItems"));*/
        //console.log("Tipo Registro");
    });

    function Prueba() {
        console.log(localStorage.getItem("AuxFor"));
        console.log(localStorage.getItem("AuxItems"));
    }

    function TR() {
        var Tipo = document.getElementById("TipoReg").value;
        if (Tipo == 1) {//Ingreso
            document.getElementById("TipoCambio").innerHTML = "Donante";
            document.getElementById("TRDropDownProveedor").setAttribute("name", "nada");
            document.getElementById("TRDropDownDonante").setAttribute("name", "ProveedorId");
            document.getElementById("TRDropDownProveedor").style.display = "none";
            document.getElementById("TRDropDownDonante").style.display = "";
            document.getElementById("TRDropDownNada").style.display = "none";
/*            document.getElementById("TipoCambio").setAttribute("asp-for", "DonanteId");
            document.getElementById("TRDropDownDonante").setAttribute("asp-for", "DonanteId");
            document.getElementById("TRDropDownDonante").setAttribute("asp-items", "ViewBag.DonanteId");*/

/*            localStorage.setItem("TC", "Donante");
            localStorage.setItem("AuxFor", "DonanteId");
            localStorage.setItem("AuxItems", "ViewBag.DonanteId");

            location.reload();*/
            //console.log("Donante");
        } else {
            if (Tipo == 2) {//Egreso
                document.getElementById("TipoCambio").innerHTML = "Proveedor";
                document.getElementById("TRDropDownProveedor").setAttribute("name", "ProveedorId");
                document.getElementById("TRDropDownDonante").setAttribute("name", "nada");
                document.getElementById("TRDropDownProveedor").style.display = "";
                document.getElementById("TRDropDownDonante").style.display = "none";
                document.getElementById("TRDropDownNada").style.display = "none";
/*                document.getElementById("TipoCambio").setAttribute("asp-for", "ProveedorId");
                document.getElementById("TRDropDown").setAttribute("asp-for", "ProveedorId");
                document.getElementById("TRDropDown").setAttribute("asp-items", "ViewBag.ProveedorId");*/

/*                localStorage.setItem("TC", "Proveedor");
                localStorage.setItem("AuxFor", "ProveedorId");
                localStorage.setItem("AuxItems", "ViewBag.ProveedorId");

                location.reload();*/
                //console.log("Proveedor");
            }
            else {
                document.getElementById("TipoCambio").innerHTML = "Tipo Registro"
                document.getElementById("TRDropDownProveedor").setAttribute("name", "nada");
                document.getElementById("TRDropDownDonante").setAttribute("name", "nada");
                document.getElementById("TRDropDownProveedor").style.display = "none";
                document.getElementById("TRDropDownDonante").style.display = "none";
                document.getElementById("TRDropDownNada").style.display = "";
/*                document.getElementById("TipoCambio").setAttribute("asp-for", "nada");
                document.getElementById("TRDropDown").setAttribute("asp-for", "nada");
                document.getElementById("TRDropDown").setAttribute("asp-items", "ViewBag.nada");*/

/*                localStorage.setItem("TC", "Tipo Registro");
                localStorage.setItem("AuxFor", "nada");
                localStorage.setItem("AuxItems", "ViewBag.nada");

                location.reload();*/
                //console.log("Tipo Registro");
            }
        }
    }
</script>

<script>
    function CambiarTipoRegistro() {
        document.getElementById("TRDropDown").getAttribute("asp-for");//DonanteId //ProveedorId
    }
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    window.addEventListener("load", function (event) {
        document.querySelector('.active').classList.remove('active');
        document.getElementById("DBIngresosEgresos").classList.add("active");
        console.log("Pruebas");
    });
</script>
