﻿@model DespensasCore.Models.IngresoEgreso

@{
    ViewData["Title"] = "CreateEgreso";
}

<h1>Registro de un nuevo Egreso</h1>

<h4>Egreso</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form enctype="multipart/form-data" asp-action="CreateEgreso">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div id="IngresoEgreso" class="form-group">
                <label asp-for="TipoRegistro" class="control-label"></label>
                <select id="TipoReg" asp-for="TipoRegistro" class="form-control" asp-items="@Html.GetEnumSelectList<DespensasCore.Utilities.TipoRegistro>()"></select>
                <span asp-validation-for="TipoRegistro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label id="TipoCambio" asp-for="ProveedorId" class="control-label"></label>
                <select id="TRDropDownProveedor" asp-for="ProveedorId" class="form-control" asp-items="@ViewBag.ProveedorId" runat="server"></select>
            </div>
            <div class="form-group">
                <label asp-for="MontoDespuesIVA" class="control-label"></label>
                <input asp-for="MontoDespuesIVA" class="form-control" onkeydown="DetectorDIVA()" />
                <span asp-validation-for="MontoDespuesIVA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaCompra" class="control-label"></label>
                <input asp-for="FechaCompra" class="form-control" />
                <span asp-validation-for="FechaCompra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProyectoId" class="control-label"></label>
                <select asp-for="ProyectoId" class="form-control" asp-items="ViewBag.ProyectoId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Comprobante" class="control-label"></label>
                <input asp-for="Comprobante" class="form-control-file" name="files" type="file" />
                <!--<input asp-for="Comprobante" class="form-control" style="display:none" id="IDComprobante" />-->
            </div>
            <div class="form-group">
                <label asp-for="BankAccountId" class="control-label"></label>
                <select asp-for="BankAccountId" class="form-control" asp-items="ViewBag.BankAccountId"></select>
            </div>

            <div class="form-group">
                <input type="submit" value="Guardar Cambios" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar a la lista</a>
</div>
<script runat="server">
    window.addEventListener("DOMContentLoaded", function (event) {
        document.getElementById("IngresoEgreso").style.display = "none";
        document.getElementById("TipoReg").value = 2;
        document.getElementById("TipoCambio").innerHTML = "Proveedor";
    });
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
