﻿@model DespensasCore.Models.IngresoEgreso

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Ingreso/Egreso</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TipoRegistro)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TipoRegistro)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Proveedor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Proveedor.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MontoAntesIVA)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MontoAntesIVA)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MontoDespuesIVA)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MontoDespuesIVA)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaCompra)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaCompra)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Proyecto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Proyecto.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Comprobante)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Comprobante)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BankAccount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BankAccountId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastUpdate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastUpdate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Regresar a la lista</a>
</div>

<script>
    window.addEventListener("load", function (event) {
        document.querySelector('.active').classList.remove('active');
        document.getElementById("DBIngresosEgresos").classList.add("active");
        console.log("Pruebas");
    });
</script>
