﻿@model DespensasCore.Models.IngresoEgreso

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Ingreso/Egreso</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoRegistro" class="control-label"></label>
                <select asp-for="TipoRegistro" class="form-control" asp-items="@Html.GetEnumSelectList<DespensasCore.Utilities.TipoRegistro>()"></select>
                <span asp-validation-for="TipoRegistro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProveedorId" class="control-label"></label>
                <select asp-for="ProveedorId" class="form-control" asp-items="ViewBag.ProveedorId"></select>
                <span asp-validation-for="ProveedorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MontoDespuesIVA" class="control-label"></label>
                <input asp-for="MontoDespuesIVA" class="form-control" />
                <span asp-validation-for="MontoDespuesIVA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaCompra" class="control-label"></label>
                <input asp-for="FechaCompra" class="form-control" />
                <span asp-validation-for="FechaCompra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProyectoId" class="control-label"></label>
                <select asp-for="ProyectoId" class="form-control" asp-items="ViewBag.ProyectoId"></select>
                <span asp-validation-for="ProyectoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comprobante" class="control-label"></label>
                <input asp-for="Comprobante" class="form-control-file" type="file" />
                <span asp-validation-for="Comprobante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BankAccountId" class="control-label"></label>
                <select asp-for="BankAccountId" class="form-control" asp-items="ViewBag.BankAccountId"></select>
            </div>
            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <input type="submit" value="Guardar Cambios" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    window.addEventListener("load", function (event) {
        document.querySelector('.active').classList.remove('active');
        document.getElementById("DBIngresosEgresos").classList.add("active");
        console.log("Pruebas");
    });
</script>
