﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DespensasCore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/sidebar.css" rel="stylesheet" />
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/cosmo/bootstrap.min.css" rel="stylesheet" integrity="sha384-9/chHLTCcBULgxOFoUyZXSgEF0uFXs+NrQqzcy/DXqcR+Sk8C1l4EgmUXAEzTb92" crossorigin="anonymous">
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.21/af-2.3.5/b-1.6.2/b-colvis-1.6.2/b-flash-1.6.2/b-html5-1.6.2/b-print-1.6.2/cr-1.5.2/fc-3.3.1/fh-3.1.7/kt-2.5.2/r-2.2.5/rg-1.1.2/rr-1.2.7/sc-2.0.2/sp-1.1.1/sl-1.3.1/datatables.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
    <script src="https://cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"></script>
</head>
<body>
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar" style="z-index:100;">
            <div class="sidebar-header">
                <a asp-area="" asp-controller="Home" asp-action="Index"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" id="logo" /></a>
            </div>

            <ul class="list-unstyled components">
                <li class="active">
                    <a asp-area="" asp-controller="Home" asp-action="Index">
                        <i class="fas fa-home"></i>
                        Inicio
                    </a>
                </li>
                @if (User.Identity.IsAuthenticated)
                {

                    <li>
                        <a id="DBCandidatos" href="#candidatosSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                            <i class="fas fa-user-check"></i>
                            Candidatos
                        </a>
                        <ul class="collapse list-unstyled" id="candidatosSubmenu">
                            <li>
                                <a id="DBCCandidatos" class="nav-link" asp-area="" asp-controller="Candidatos" asp-action="Index">
                                    Candidatos
                                </a>
                                @if (User.IsInRole("Coordinador") || User.IsInRole("Admin") || User.IsInRole("Director"))
                                {
                                    <a id="DBCAsignados" class="nav-link" asp-area="" asp-controller="Asignados" asp-action="Index">
                                        Asignados
                                    </a>
                                    <a id="DBCBeneficiados" class="nav-link" asp-area="" asp-controller="PersonaProyectos" asp-action="Index">
                                        Beneficiados
                                    </a>

                                }
                            </li>
                        </ul>
                        <a id="DBEncuestas" href="#encuestasSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                            <i class="fas fa-clipboard-check"></i>
                            Encuestas
                        </a>
                        <ul class="collapse list-unstyled" id="encuestasSubmenu">
                            <li>
                                <a id="DBEEncuestas" asp-controller="Encuestas" asp-area="" asp-action="Index">Encuestas Realizadas</a>
                            </li>
                            @*<li>
                        <a asp-controller="Encuestas" asp-action="Create">Aplicar Encuesta</a>
                    </li>*@
                        </ul>

                    </li>

                }


                @if (User.IsInRole("Admin") || User.IsInRole("Coordinador") || User.IsInRole("Director"))
                {
                    <li>
                        <a id="DBConfiguracion" href="#configEncuestaSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                            <i class="fas fa-list-ol"></i>
                            Configuración de Encuestas
                        </a>
                        <ul class="collapse list-unstyled" id="configEncuestaSubmenu">
                            <li>
                                <a id="DBCPreguntas" asp-area="Admin" asp-controller="PreguntaItems" asp-action="Index">Preguntas a Realizar</a>
                            </li>
                            <li>
                                <a id="DBCRespuestas" asp-area="Admin" asp-controller="RespuestaItems" asp-action="Index">Respuestas y Ponderaciones</a>
                            </li>
                        </ul>

                    </li>
                    <!---------------------------------- Modulo de Proyectos para el admin---------------------------------->
                    <li>
                        <a href="#proyectossSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                            <i class="fas fa-clipboard-check"></i>
                            Admin. de Proyectos
                        </a>
                        <ul class="collapse list-unstyled" id="proyectossSubmenu">
                            <li>
                                <a asp-area="" asp-controller="Proyectos" asp-action="Index">
                                    <i class="fas fa-clipboard-check"></i>
                                    Lista de Proyectos
                                </a>
                            </li>
                            <li><a asp-area="" asp-controller="Etapas" asp-action="Index">Lista de Etapas</a></li>
                            <li><a asp-area="" asp-controller="Resultados" asp-action="Index">Lista de Resultados</a></li>
                            <li><a asp-area="" asp-controller="Productos" asp-action="Index">Lista de Productos</a></li>
                            <li><a asp-area="" asp-controller="Actividades" asp-action="Index">Lista de Actividades</a></li>
                            <li><a asp-area="" asp-controller="Tareas" asp-action="Index">Lista de Tareas</a></li>

                        </ul>

                    </li>
                    <!---------------------------------- Modulo de adoptantes para el admin---------------------------------->
                    <li id="DBProyectos">
                        <a class="nav-link" asp-area="" asp-controller="Programas" asp-action="Index">
                            <i class="fas fa-clipboard-check"></i>
                            Programas
                        </a>

                    </li>
                    <li id="DBUsuarios">
                        <a class="nav-link" asp-area="" asp-controller="Users" asp-action="Index">
                            <i class="fas fa-users"></i>
                            Usuarios
                        </a>

                    </li>

                    <li id="DBBeneficiarios">
                        <a class="nav-link" asp-area="" asp-controller="UsuarioProyectos" asp-action="Index">
                            <i class="fas fa-user-shield"></i>
                            Beneficiarios
                        </a>

                    </li>

                }
                @if (User.IsInRole("Admin") || User.IsInRole("Director"))
                {
                    <!---------------------------------- Opcion de Ingresos/Egresos para el admin/Modulo 2---------------------------------->
                    <li id="DBIngresosEgresos">
                        <a class="nav-link" asp-area="" asp-controller="IngresoEgresos" asp-action="Index">
                            <i class="fas fa-wallet"></i>
                            Ingresos y Egresos
                        </a>
                    </li>


                    <li>
                        <a id="DBAdministrador" href="#adminSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                            <i class="fas fa-cog"></i>
                            Administrador
                        </a>
                        <ul class="collapse list-unstyled" id="adminSubmenu">
                            <li><a id="DBAPanel" asp-area="Admin" asp-controller="Home" asp-action="Index"> Panel de Administrador</a></li>
                            <li><a id="DBAPreguntas" asp-area="Admin" asp-controller="PreguntaItems" asp-action="Index">Preguntas de Entrevista</a></li>
                        </ul>
                    </li>


                    <!---------------------------------- Opcion de proveedores para el admin/Modulo 2---------------------------------->

                    <li id="DBProveedores">
                        <a class="nav-link" asp-area="" asp-controller="Proveedores" asp-action="Index">
                            <i class="fas fa-user-shield"></i>
                            Proveedores
                        </a>
                    </li>

                    <!---------------------------------- Opcion de Donantes para el admin/Modulo 2---------------------------------->
                    <li>
                        <a id="DBDonantes" href="#donantesSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                            <i class="fas fa-user-friends"></i>
                            Donantes
                        </a>
                        <ul class="collapse list-unstyled" id="donantesSubmenu">
                            <li><a id="DBDLista" asp-area="" asp-controller="Donantes" asp-action="Index">Lista de Donantes</a></li>
                            <li><a id="DBDTipo" asp-area="" asp-controller="TipoDonantes" asp-action="Index">Tipo de Donantes</a></li>
                            <li><a id="DBDPeriodicidad" asp-area="" asp-controller="PeriodicidadDonaciones" asp-action="Index">Periodicidad de Donaciones</a></li>
                        </ul>

                    </li>
                    <!---------------------------------- Opcion de Cuentas Bancarias para el admin/Modulo 2---------------------------------->
                    <li id="DBCuentas">
                        <a class="nav-link" asp-area="" asp-controller="BankAccounts" asp-action="Index">
                            <i class="fas fa-money-check-alt"></i>
                            Cuentas Bancarias
                        </a>
                    </li>
                }

                <li>
                    <a id="DBPublico" href="#publicSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="fas fa-globe"></i>
                        Público
                    </a>
                    <ul class="collapse list-unstyled" id="publicSubmenu">
                        <li>
                            <a id="DBPPortal" asp-area="Portal" asp-controller="Home" asp-action="Index">Portal Público</a>
                        </li>
                        <li>
                            <a id="DBPPreguntas" asp-controller="Home" asp-area="" asp-action="FAQ">
                                <i class="fas fa-question"></i>
                                Preguntas Frecuentes
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>


        </nav>
        <div id="content">
            <header>
                <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                    <div class="container-fluid">
                        <button type="button" id="sidebarCollapse" class="btn">
                            <span class="navbar-toggler-icon"></span>
                        </button>


                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                            <partial name="_LoginPartial" />
                            <ul class="navbar-nav flex-grow-1">
                                @*<li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                                    </li>*@
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>
            <div class="container-fluid">
                <main role="main" class="pb-5">
                    @RenderBody()
                </main>
                <hr class="footer footer-linea" />
                <footer class="footer text-muted">
                    <div class="container">
                        &copy; 2020 - IFJS - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacidad</a>
                    </div>
                </footer>
            </div>

        </div>

    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.21/af-2.3.5/b-1.6.2/b-colvis-1.6.2/b-flash-1.6.2/b-html5-1.6.2/b-print-1.6.2/cr-1.5.2/fc-3.3.1/fh-3.1.7/kt-2.5.2/r-2.2.5/rg-1.1.2/rr-1.2.7/sc-2.0.2/sp-1.1.1/sl-1.3.1/datatables.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.dtable').DataTable({
                dom: 'PlBfrtip',
                    buttons: [
                        'copy',
                        'csv',
                        {
                            extend: 'excel',
                            messageTop: function()
                            {
                                var user_name = '@User.Identity.Name';
                                return 'Este archivo fue generado por ' + user_name;
                            },
                        },
                        {
                            extend: 'pdf',
                            messageTop: function()
                            {
                                var user_name = '@User.Identity.Name';
                                return 'Este archivo fue generado por ' + user_name;
                            },
                        },
                        {
                            extend: 'print',
                            messageTop: function()
                            {
                                var user_name = '@User.Identity.Name';
                                return 'Este archivo fue generado por ' + user_name;
                            },
                        }
                    ],
                lengthChange: false,
                pageLength: 100,
                "bInfo": false,
                conditionalPaging: true,
                language: {
                    "processing": "Procesando...",
                    "lengthMenu": "Mostrar _MENU_ registros",
                    "zeroRecords": "No se encontraron resultados",
                    "emptyTable": "Ningún dato disponible en esta tabla",
                    "info": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "infoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "search": "Buscar:",
                    "infoThousands": ",",
                    "loadingRecords": "Cargando...",
                    "paginate": {
                        "first": "Primero",
                        "last": "Último",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    },
                    "aria": {
                        "sortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sortDescending": ": Activar para ordenar la columna de manera descendente"
                    },
                    "buttons": {
                        "copy": "Copiar",
                        "colvis": "Visibilidad",
                        "collection": "Colección",
                        "colvisRestore": "Restaurar visibilidad",
                        "copyKeys": "Presione ctrl o u2318 + C para copiar los datos de la tabla al portapapeles del sistema. <br \/> <br \/> Para cancelar, haga clic en este mensaje o presione escape.",
                        "copySuccess": {
                            "1": "Copiada 1 fila al portapapeles",
                            "_": "Copiadas %d fila al portapapeles"
                        },
                        "copyTitle": "Copiar al portapapeles",
                        "csv": "CSV",
                        "excel": "Excel",
                        "pageLength": {
                            "-1": "Mostrar todas las filas",
                            "1": "Mostrar 1 fila",
                            "_": "Mostrar %d filas"
                        },
                        "pdf": "PDF",
                        "print": "Imprimir"
                    },
                    "autoFill": {
                        "cancel": "Cancelar",
                        "fill": "Rellene todas las celdas con <i>%d<\/i>",
                        "fillHorizontal": "Rellenar celdas horizontalmente",
                        "fillVertical": "Rellenar celdas verticalmentemente"
                    },
                    "decimal": ",",
                    "searchBuilder": {
                        "add": "Añadir condición",
                        "button": {
                            "0": "Constructor de búsqueda",
                            "_": "Constructor de búsqueda (%d)"
                        },
                        "clearAll": "Borrar todo",
                        "condition": "Condición",
                        "conditions": {
                            "date": {
                                "after": "Despues",
                                "before": "Antes",
                                "between": "Entre",
                                "empty": "Vacío",
                                "equals": "Igual a",
                                "not": "No",
                                "notBetween": "No entre",
                                "notEmpty": "No Vacio"
                            },
                            "moment": {
                                "after": "Despues",
                                "before": "Antes",
                                "between": "Entre",
                                "empty": "Vacío",
                                "equals": "Igual a",
                                "not": "No",
                                "notBetween": "No entre",
                                "notEmpty": "No vacio"
                            },
                            "number": {
                                "between": "Entre",
                                "empty": "Vacio",
                                "equals": "Igual a",
                                "gt": "Mayor a",
                                "gte": "Mayor o igual a",
                                "lt": "Menor que",
                                "lte": "Menor o igual que",
                                "not": "No",
                                "notBetween": "No entre",
                                "notEmpty": "No vacío"
                            },
                            "string": {
                                "contains": "Contiene",
                                "empty": "Vacío",
                                "endsWith": "Termina en",
                                "equals": "Igual a",
                                "not": "No",
                                "notEmpty": "No Vacio",
                                "startsWith": "Empieza con"
                            }
                        },
                        "data": "Data",
                        "deleteTitle": "Eliminar regla de filtrado",
                        "leftTitle": "Criterios anulados",
                        "logicAnd": "Y",
                        "logicOr": "O",
                        "rightTitle": "Criterios de sangría",
                        "title": {
                            "0": "Constructor de búsqueda",
                            "_": "Constructor de búsqueda (%d)"
                        },
                        "value": "Valor"
                    },
                    "searchPanes": {
                        "clearMessage": "Borrar todo",
                        "collapse": {
                            "0": "Paneles de búsqueda",
                            "_": "Paneles de búsqueda (%d)"
                        },
                        "count": "{total}",
                        "countFiltered": "{shown} ({total})",
                        "emptyPanes": "Sin paneles de búsqueda",
                        "loadMessage": "Cargando paneles de búsqueda",
                        "title": "Filtros Activos - %d"
                    },
                    "select": {
                        "1": "%d fila seleccionada",
                        "_": "%d filas seleccionadas",
                        "cells": {
                            "1": "1 celda seleccionada",
                            "_": "$d celdas seleccionadas"
                        },
                        "columns": {
                            "1": "1 columna seleccionada",
                            "_": "%d columnas seleccionadas"
                        }
                    },
                    "thousands": "."
                }
            });
        });


    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
                $('#content').toggleClass('active');
                setTimeout(() => { $('#logo').toggleClass('active'); }, 50);
            });
        });
    </script>
    <script>
        $(function () {
            $('[data-toggletwo="tooltip"]').tooltip()
        })
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
