﻿@model DespensasCore.Models.Candidato

@{
    ViewData["Title"] = "Create";
}

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
            <h3 class="card-title text-center">Registro de Candidato</h3>
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Nombre" class="control-label"></label>
                        <input asp-for="Nombre" class="form-control" type="text" oninput="restrictText(this)"/>
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Calle" class="control-label"></label>
                        <input asp-for="Calle" class="form-control" />
                        <span asp-validation-for="Calle" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Numero" class="control-label"></label>
                        <input asp-for="Numero" class="form-control" type="number" onkeypress="restrictNumber(this)" onkeydown="if (this.value.length == 10) return false; return event.keyCode !== 69;" />
                        <span asp-validation-for="Numero" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Referencias" class="control-label"></label>
                        <input asp-for="Referencias" class="form-control" />
                        <span asp-validation-for="Referencias" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Colonia" class="control-label"></label>
                        <select asp-for="Colonia" class="form-control selectpicker" data-flip="false" data-dropup-auto="false" data-live-search="true" asp-items="ViewBag.Colonias"></select>
                        <span asp-validation-for="Colonia" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Situacion" class="control-label"></label>
                        <select asp-for="Situacion" class="form-control">
                            <option value="Adulto Mayor"></option>
                            <option value="Enfermedad Crónica"></option>
                            <option value="Desempleo"></option>
                            <option value="Otro"></option>
                        </select>
                        <span asp-validation-for="Situacion" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Descripcion" class="control-label"></label>
                        <textarea asp-for="Descripcion" class="form-control" ></textarea>
                        <span asp-validation-for="Descripcion" class="control-label"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Telefono" class="control-label"></label>
                        <input asp-for="Telefono" class="form-control" type="number" onkeypress="restrictNumber(this)" onkeydown="if (this.value.length == 10) return false; return event.keyCode !== 69;" />
                        <span asp-validation-for="Telefono" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DireccionGMaps" class="control-label"></label>
                        <input asp-for="DireccionGMaps" class="form-control" />
                        <span asp-validation-for="DireccionGMaps" class="text-danger"></span>

                        <!--Google Maps -->
                        <div id="map">
                            HOLA
                        </div>

                        <script>
                            // Initialize and add the map
                            function initMap() {
                                // The location of Uluru 29.1138234 -110.9594084
                                var uluru = { lat: 29.1138234, lng: -110.9594084 };
                                draggable: true;
                                // The map, centered at Uluru
                                var map = new google.maps.Map(document.getElementById('map'), { zoom: 18, center: uluru });
                                // The marker, positioned at Uluru
                                var marker = new google.maps.Marker({ position: uluru, map: map, draggable: true });

                                var geocoder = new google.maps.Geocoder();
                                // le asignamos una funcion al eventos dragend del marcado
                                google.maps.event.addListener(marker, 'dragend', function () {
                                    geocoder.geocode({ 'latLng': marker.getPosition() }, function (results, status) {
                                        if (status == google.maps.GeocoderStatus.OK) {
                                            var address = results[0]['formatted_address'];
                                            alert(address);
                                        }
                                    });
                                });

                            }
                        </script>
                        <script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBIE6Kjtje3xiAnwspl4hzuG-5QAO5i7LY&callback=initMap"></script>

                    </div>
                    <div class="form-group">
                        <label asp-for="TipoReportante" class="control-label"></label>
                        <select asp-for="TipoReportante" class="form-control">

                        </select>
                        <span asp-validation-for="TipoReportante" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NombreReportante" class="control-label"></label>
                        <input asp-for="NombreReportante" class="form-control" type="text" oninput="restrictText(this)"/>
                        <span asp-validation-for="NombreReportante" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TelefonoReportante" class="control-label"></label>
                        <input asp-for="TelefonoReportante" class="form-control" type="number" onkeypress="restrictNumber(this)" onkeydown="if (this.value.length == 10) return false; return event.keyCode !== 69;" />
                        <span asp-validation-for="TelefonoReportante" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Registrar" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div>
    <a class="btn btn-info mt-2" asp-action="Index"><i class="fas fa-backward"></i> Regresar</a>
</div>

<script>
    var restrictText = function (tb) {
        tb.value = tb.value.replace(/[^a-z A-ZñÑ]/g, '');
    };

    var restrictNumber = function (tb) {
        tb.value = tb.value.replace(/[^0-9]/, '');
    };

    function CaracteresMax() {
        javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);
        //if(this.value.length==10) return false;
    }

    function MaximoSinE() {
        if (this.value.length == 10) return false; //maximo de 10 caracteres
        return event.keyCode !== 69; //Bloquea la letra e (exponensial en type numbers)
    }
</script>

<script>
    window.addEventListener("load", function (event) {
        document.querySelector('.active').classList.remove('active');
        document.getElementById("DBCandidatos").setAttribute("aria-expanded", "true");
        document.getElementById("DBCCandidatos").classList.add("active");
        console.log("Pruebas");
    });
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
