﻿@model DespensasCore.Models.Candidato

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Candidato</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Calle" class="control-label"></label>
                <input asp-for="Calle" class="form-control" />
                <span asp-validation-for="Calle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Numero" class="control-label"></label>
                <input asp-for="Numero" class="form-control" />
                <span asp-validation-for="Numero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Referencias" class="control-label"></label>
                <input asp-for="Referencias" class="form-control" />
                <span asp-validation-for="Referencias" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Colonia" class="control-label"></label>
                <input asp-for="Colonia" class="form-control" />
                <span asp-validation-for="Colonia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Situacion" class="control-label"></label>
                <select asp-for="Situacion" class="form-control" asp-items="@Html.GetEnumSelectList<DespensasCore.Utilities.Situacion>()"></select>
                <span asp-validation-for="Situacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefono" class="control-label"></label>
                <input asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DireccionGMaps" class="control-label"></label>
                <input asp-for="DireccionGMaps" class="form-control" />
                <span asp-validation-for="DireccionGMaps" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoReportante" class="control-label"></label>
                <select asp-for="TipoReportante" class="form-control" asp-items="@Html.GetEnumSelectList<DespensasCore.Utilities.TipoReportante>()"></select>
                <span asp-validation-for="TipoReportante" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar a la lista</a>
</div>

<script>
    window.addEventListener("load", function (event) {
        document.querySelector('.active').classList.remove('active');
        document.getElementById("DBCandidatos").setAttribute("aria-expanded", "true");
        document.getElementById("DBCCandidatos").classList.add("active");
        console.log("Pruebas");
    });
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
