﻿@model IEnumerable<DespensasCore.Models.Candidato>

@{
    ViewData["Title"] = "GetCandidatos";
}

<div class="card">
    <div class="card-header d-flex justify-content-between align-items-baseline">
        <div>
            <h3 class="card-title">Lista de Candidatos</h3>
        </div>
        <div>
            <a class="btn btn-success" asp-action="Create"><i class="fa fa-plus"></i> Nuevo Candidato</a>
        </div>
    </div>
    <div class="card-body">


        <table class="table" id="candidatosTable">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Calle)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Numero)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Colonia)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Situacion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Telefono)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TipoReportante)
                    </th>
                    @if (User.IsInRole("Coordinador") || User.IsInRole("Admin"))
                    {
                        <th>Asignado a</th>
                        <th></th>
                    }
                    else
                    {
                        <th></th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Calle)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Numero)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Colonia)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Situacion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Telefono)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TipoReportante)
                        </td>
                        @if (User.IsInRole("Admin") || User.IsInRole("Coordinador"))
                        {
                            <td>
                                @foreach (var ts in ViewBag.UserAsignados)
                                {
                                    @if (ts.Candidato.Id == item.Id)
                                    {
                                        @ts.User.Email
                                    }
                                }
                            </td>

                            <td class=" d-flex flex-row">
                                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id" data-toggletwo="tooltip" data-placement="top" title="Editar"><i class="fa fa-edit"></i></a>
                                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id" data-toggletwo="tooltip" data-placement="top" title="Detalles"><i class="fa fa-bars"></i></a>
                                <a class="btn btn-danger" data-toggletwo="tooltip" data-placement="top" title="Eliminar" asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-trash"></i></a>
                                <a class="btn btn-info" href="#" data-toggle="modal" data-toggletwo="tooltip" data-candidatoid="@item.Id" data-target="#asignarModal" title="Asignar Trabajador Social"><i class="fa fa-user-circle"></i></a>
                                <a class="btn btn-success" href="#" data-toggle="modal" data-toggletwo="tooltip" data-candidatoid="@item.Id" data-target="#asignarModal" title="Realizar Encuesta"><i class="fa fa-list-alt"></i></a>
                            </td>

                        }
                        else if (User.IsInRole("Organizacion"))
                        {
                            <td>
                                @foreach (var ts in ViewBag.UserAsignados)
                                {
                                    @if (ts.Candidato.Id == item.Id)
                                    {
                                        @ts.User.Email
                                    }
                                }
                            </td>

                            <td class=" d-flex flex-row">
                                <!--<a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id" data-toggletwo="tooltip" data-placement="top" title="Editar"><i class="fa fa-edit"></i></a>-->
                                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id" data-toggletwo="tooltip" data-placement="top" title="Detalles"><i class="fa fa-bars"></i></a>
                                <!--<a class="btn btn-danger" data-toggletwo="tooltip" data-placement="top" title="Eliminar" asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-trash"></i></a>-->
                                <a class="btn btn-info" href="#" data-toggle="modal" data-toggletwo="tooltip" data-candidatoid="@item.Id" data-userid="@ViewBag.Org_Id" data-target="#asignarAdoptanteModal" title="Adoptar Candidato"><i class="fa fa-user-circle"></i></a>
                            </td>

                        }
                        else if (User.IsInRole("Trabajo Social"))
                        {
                            <td class=" d-flex flex-row">

                                <a class="btn btn-success" href="@Url.Action("CrearYEncuestar", "Encuestas", new { CandidatoId = item.Id }, null)" data-toggletwo="tooltip" title="Realizar Encuesta"><i class="fa fa-list-alt"></i></a>
                            </td>
                        }

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="asignarModal" tabindex="-1" role="dialog" aria-labelledby="asignarModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="asignarModalLabel">Asignar a Trabajador Social</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="Create" id="CreateAsignados" asp-controller="Asignados">
                    <input type="hidden" name="CandidatoId" id="CandidatoId" value="" />
                    <div class="form-group">
                        <label for="UserId" class="control-label">Trabajador Social</label>
                        <select name="UserId" id="UserId" asp-items="ViewBag.UserIdTS" class="form-control"></select>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="submit" form="CreateAsignados" class="btn btn-primary">Asignar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $('#asignarModal').on('show.bs.modal', function (event) {
            var candidatoId = $(event.relatedTarget).data('candidatoid')
            console.log(candidatoId);
            $(this).find('.modal-body #CandidatoId').val(candidatoId)
        })
    </script>

    <script>
        $('#asignarAdoptanteModal').on('show.bs.modal', function (event) {
            var candidatoId = $(event.relatedTarget).data('candidatoid')
            console.log(candidatoId);
            $(this).find('.modal-body #CandidatoId').val(candidatoId)

            var userId = $(event.relatedTarget).data('userid')
            console.log(userId);
            $(this).find('.modal-body #UserId').val(userId)
        })
    </script>
    <script>
        $('#candidatosTable').DataTable({
            lengthChange: false,
            pageLength: 100,
            "bInfo": false,
            stateSave:true,
            paging: true,
            serverSide: true,
            processing: true,
            searching: { regex: true},
            ajax: {
                url: '/Candidatos/GetCandidatos',
                type: 'POST',
                contentType: 'application/json',
                dataType: 'json',
                data: function (d) {
                    return JSON.stringify(d)
                }
            },
            columns: [
                { data: "id" },
                { data: "nombre" },
                { data: "calle" },
                { data: "referencias" },
                { data: "colonia" },
                { data: "situacion" },
                { data: "descripcion" },
                { data: "telefono" },
                { data: "tiporeportante" },
                { data: "nombrereportante" },
                { data: "telefonoreportante" },

            ]
        });
    </script>
}

<!--------------------------------------------------- Modal Asignar adoptante --------------------------------------------------->

<div class="modal fade" id="asignarAdoptanteModal" tabindex="-1" role="dialog" aria-labelledby="asignarModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <!--Modal header-->
            <div class="modal-header">
                <h5 class="modal-title" id="asignarModalLabel">Adoptar a un Candidato</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <!--Form-->
            <div class="modal-body">
                <form asp-action="Create" id="CreateAdoptantes" asp-controller="AsignadoAdoptantes">
                    <input type="hidden" name="CandidatoId" id="CandidatoId" value="" />
                    <input type="hidden" name="UserId" id="UserId" value="" />
                </form>
            </div>

            <!--Button-->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="submit" form="CreateAdoptantes" class="btn btn-primary">Adoptar</button>
            </div>
        </div>
    </div>
</div>
