﻿@model IEnumerable<DespensasCore.Models.Candidato>

@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Lista de Candidatos";
}


<div class="card">
    <div class="card-header d-flex justify-content-between align-items-baseline">
        <div>
            <h3 class="card-title">Lista de Candidatos</h3>
        </div>
        <!--Solo aparecera el boton de crear a todos los demas menos al trabajador social-->
        @if (ViewBag.flag != "TSocial")
        {
            <div>
                <a class="btn btn-success" asp-action="Create"><i class="fa fa-plus"></i> Nuevo Candidato</a>
            </div>

        }

    </div>
    <div class="card-body">


        <table class="table" id="candidatosTable" style="width:100%">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Calle)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Numero)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Colonia)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Situacion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Telefono)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TipoReportante)
                    </th>

                    @if (User.IsInRole("Coordinador") || User.IsInRole("Admin"))
                    {
                        <th>Asignado a</th>
                        <th></th>
                    }
                    else
                    {
                        <th></th>
                    }


                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Calle)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Numero)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Colonia)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Situacion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Telefono)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TipoReportante)
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>






                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="asignarModal" tabindex="-1" role="dialog" aria-labelledby="asignarModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="asignarModalLabel">Asignar a Trabajador Social</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="Create" id="CreateAsignados" asp-controller="Asignados">
                    <input type="hidden" name="CandidatoId" id="CandidatoId" value="" />
                    <div class="form-group">
                        <label for="UserId" class="control-label">Trabajador Social</label>
                        <select name="UserId" id="UserId" asp-items="ViewBag.UserIdTS" class="form-control"></select>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="submit" form="CreateAsignados" class="btn btn-primary">Asignar</button>
            </div>
        </div>
    </div>
</div>

<!--------------------------------------------------- Modal Asignar candidato a proyectos --------------------------------------------------->
<div class="modal fade" id="asignarProyectoModal" tabindex="-1" role="dialog" aria-labelledby="asignarModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!--Header modal-->
            <div class="modal-header">
                <h5 class="modal-title" id="asignarModalLabel">Asignar a Proyecto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!--Content modal-->
            <div class="modal-body">
                <form asp-action="Create" id="CreateAsignadoProyecto" asp-controller="PersonaProyectos">
                    <input type="hidden" name="CandidatoId" id="CandidatoId" value="" />
                    <div class="form-group">
                        <label for="UserId" class="control-label">Proyecto</label>
                        <select name="ProyectoId" id="ProyectoId" asp-items="ViewBag.ProyectoIdTS" class="form-control"></select>

                    </div>
                </form>
            </div>
            <!--Header footerl-->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="submit" form="CreateAsignadoProyecto" class="btn btn-primary">Asignar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>

    </script>
    <script>

        var auxID;

        $('#asignarModal').on('show.bs.modal', function (event) {
            var candidatoId = $(event.relatedTarget).data('candidatoid')
            console.log(auxID);
            $(this).find('.modal-body #CandidatoId').val(auxID)
        })
    </script>

    <script>

        var C_id;

        $('#asignarProyectoModal').on('show.bs.modal', function (event) {
            var candidatoId = $(event.relatedTarget).data('candidatoid')
            console.log(C_id);
            $(this).find('.modal-body #CandidatoId').val(C_id)
        })
    </script>
    <script>

        var table;


        var flag = '@ViewBag.flag';

        if (flag == "Admin") {

            $(document).ready(function () {

                table = $('#candidatosTable').DataTable({
                    dom: 'lBfrtip',
                    buttons: [
                        'copy',
                        'csv',
                        {
                            extend: 'excel',
                            messageTop: function()
                            {
                                var user_name = '@User.Identity.Name';
                                return 'Este archivo fue generado por ' + user_name;
                            },
                        },
                        {
                            extend: 'pdf',
                            messageTop: function()
                            {
                                var user_name = '@User.Identity.Name';
                                return 'Este archivo fue generado por ' + user_name;
                            },
                        },
                        {
                            extend: 'print',
                            messageTop: function()
                            {
                                var user_name = '@User.Identity.Name';
                                return 'Este archivo fue generado por ' + user_name;
                            },
                        }
                    ],
                    stateSave: true,
                    autoWidth: true,
                    // ServerSide Setups
                    processing: true,
                    serverSide: true,
                    // Paging Setups
                    paging: true,
                    "lengthMenu": [[10, 25, 50, 100, 500, 1000], [10, 25, 50, 100, 500, 1000]],
                    // Searching Setups
                    searching: { regex: true },
                    ajax: {
                        url: '/Candidatos/GetCandidatos',
                        type: 'POST',
                        contentType: 'application/json',
                        dataType: 'json',
                        data: function (d) {
                            return JSON.stringify(d)
                        }
                    },
                    deferRender: true,
                    columns: [
                        { data: "nombre" },
                        { data: "calle" },
                        { data: "numero" },
                        { data: "colonia" },
                        { data: "situacion" },
                        { data: "telefono" },
                        { data: "tipoReportante" },


                    ],
                    columnDefs: [
                        { targets: "no-sort", orderable: false },
                        { targets: "no-search", searchable: false },
                        {
                            targets: 7,
                            render: function (data, type, row) {
                                var asignados = @Html.Raw(Json.Serialize(ViewBag.UserAsignados));
                                for (var i = 0; i < asignados.length; i++)
                                {
                                    if (asignados[i].candidatoId == data['id'])
                                    {
                                        var asignado_email = asignados[i].user.email;
                                        return asignado_email;
                                    }

                                }
                            },
                            data: null,
                            defaultContent: "----",
                            orderable: false
                        },
                        {
                            targets: 8,
                            data: null,
                            defaultContent: "<div class='d-flex flex-row'> <a class='btn btn-warning' role='button' href='#' data-toggletwo='tooltip' data-placement='top' title='Editar'onclick='edit(this)'><i class='fa fa-edit'></i></a> <a class='btn btn-primary' role='button' href='#' data-toggletwo='tooltip' data-placement='top' title='Detalles' onclick='detail(this)'><i class='fa fa-bars'></i></a> <a class='btn btn-danger' role='button' href='#' data-toggletwo='tooltip' data-placement='top' title='Eliminar' onclick='deleted(this)'><i class='fa fa-trash'></i></a> <a class='btn btn-success' role='button' href='#' data-toggletwo='tooltip' data-placement='top' title='Realizar Encuesta' onclick='doEncuesta(this)'><i class='fa fa-list-alt'></i></a> <a class='btn btn-info' href='#' data-toggle='modal' data-toggletwo='tooltip' data-target='#asignarModal' title='Asignar Trabajador Social' onclick='asignar(this)'><i class='fa fa-user-circle'></i></a> <a class='btn btn-info' href='#' data-toggle='modal' data-toggletwo='tooltip' data-target='#asignarProyectoModal' title='Asignar a proyecto' onclick='asignar_proyecto(this)'><i class='fa fa-user-circle'></i></a></div>",
                            orderable: false
                        },

                    ],
                    language: {
                        "processing": "Procesando...",
                        "lengthMenu": "Mostrar _MENU_ registros",
                        "zeroRecords": "No se encontraron resultados",
                        "emptyTable": "Ningún dato disponible en esta tabla",
                        "info": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                        "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                        "infoFiltered": "(filtrado de un total de _MAX_ registros)",
                        "search": "Buscar:",
                        "infoThousands": ",",
                        "loadingRecords": "Cargando...",
                        "paginate": {
                            "first": "Primero",
                            "last": "Último",
                            "next": "Siguiente",
                            "previous": "Anterior"
                        },
                        "aria": {
                            "sortAscending": ": Activar para ordenar la columna de manera ascendente",
                            "sortDescending": ": Activar para ordenar la columna de manera descendente"
                        },
                        "buttons": {
                            "copy": "Copiar",
                            "colvis": "Visibilidad",
                            "collection": "Colección",
                            "colvisRestore": "Restaurar visibilidad",
                            "copyKeys": "Presione ctrl o u2318 + C para copiar los datos de la tabla al portapapeles del sistema. <br \/> <br \/> Para cancelar, haga clic en este mensaje o presione escape.",
                            "copySuccess": {
                                "1": "Copiada 1 fila al portapapeles",
                                "_": "Copiadas %d fila al portapapeles"
                            },
                            "copyTitle": "Copiar al portapapeles",
                            "csv": "CSV",
                            "excel": "Excel",
                            "pageLength": {
                                "-1": "Mostrar todas las filas",
                                "1": "Mostrar 1 fila",
                                "_": "Mostrar %d filas"
                            },
                            "pdf": "PDF",
                            "print": "Imprimir"
                        },
                        "autoFill": {
                            "cancel": "Cancelar",
                            "fill": "Rellene todas las celdas con <i>%d<\/i>",
                            "fillHorizontal": "Rellenar celdas horizontalmente",
                            "fillVertical": "Rellenar celdas verticalmentemente"
                        },
                        "decimal": ",",
                        "searchBuilder": {
                            "add": "Añadir condición",
                            "button": {
                                "0": "Constructor de búsqueda",
                                "_": "Constructor de búsqueda (%d)"
                            },
                            "clearAll": "Borrar todo",
                            "condition": "Condición",
                            "conditions": {
                                "date": {
                                    "after": "Despues",
                                    "before": "Antes",
                                    "between": "Entre",
                                    "empty": "Vacío",
                                    "equals": "Igual a",
                                    "not": "No",
                                    "notBetween": "No entre",
                                    "notEmpty": "No Vacio"
                                },
                                "moment": {
                                    "after": "Despues",
                                    "before": "Antes",
                                    "between": "Entre",
                                    "empty": "Vacío",
                                    "equals": "Igual a",
                                    "not": "No",
                                    "notBetween": "No entre",
                                    "notEmpty": "No vacio"
                                },
                                "number": {
                                    "between": "Entre",
                                    "empty": "Vacio",
                                    "equals": "Igual a",
                                    "gt": "Mayor a",
                                    "gte": "Mayor o igual a",
                                    "lt": "Menor que",
                                    "lte": "Menor o igual que",
                                    "not": "No",
                                    "notBetween": "No entre",
                                    "notEmpty": "No vacío"
                                },
                                "string": {
                                    "contains": "Contiene",
                                    "empty": "Vacío",
                                    "endsWith": "Termina en",
                                    "equals": "Igual a",
                                    "not": "No",
                                    "notEmpty": "No Vacio",
                                    "startsWith": "Empieza con"
                                }
                            },
                            "data": "Data",
                            "deleteTitle": "Eliminar regla de filtrado",
                            "leftTitle": "Criterios anulados",
                            "logicAnd": "Y",
                            "logicOr": "O",
                            "rightTitle": "Criterios de sangría",
                            "title": {
                                "0": "Constructor de búsqueda",
                                "_": "Constructor de búsqueda (%d)"
                            },
                            "value": "Valor"
                        },
                        "searchPanes": {
                            "clearMessage": "Borrar todo",
                            "collapse": {
                                "0": "Paneles de búsqueda",
                                "_": "Paneles de búsqueda (%d)"
                            },
                            "count": "{total}",
                            "countFiltered": "{shown} ({total})",
                            "emptyPanes": "Sin paneles de búsqueda",
                            "loadMessage": "Cargando paneles de búsqueda",
                            "title": "Filtros Activos - %d"
                        },
                        "select": {
                            "1": "%d fila seleccionada",
                            "_": "%d filas seleccionadas",
                            "cells": {
                                "1": "1 celda seleccionada",
                                "_": "$d celdas seleccionadas"
                            },
                            "columns": {
                                "1": "1 columna seleccionada",
                                "_": "%d columnas seleccionadas"
                            }
                        },
                        "thousands": "."
                    }
                });
            });

        } else if (flag == "TSocial") {
            $(document).ready(function () {

                table = $('#candidatosTable').DataTable({
                    stateSave: true,
                    autoWidth: true,
                    // ServerSide Setups
                    processing: true,
                    serverSide: true,
                    // Paging Setups
                    paging: true,
                    "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                    // Searching Setups
                    searching: { regex: true },
                    ajax: {
                        url: '/Candidatos/GetCandidatos',
                        type: 'POST',
                        contentType: 'application/json',
                        dataType: 'json',
                        data: function (d) {
                            return JSON.stringify(d)
                        }
                    },
                    deferRender: true,
                    columns: [
                        { data: "nombre" },
                        { data: "calle" },
                        { data: "numero" },
                        { data: "colonia" },
                        { data: "situacion" },
                        { data: "telefono" },
                        { data: "tipoReportante" },


                    ],
                    columnDefs: [
                        { targets: "no-sort", orderable: false },
                        { targets: "no-search", searchable: false },
                        {
                            targets: 7,
                            data: null,
                            defaultContent: "<div class='d-flex flex-row'> <a class='btn btn-warning' role='button' href='#' data-toggletwo='tooltip' data-placement='top' title='Editar'onclick='edit(this)'><i class='fa fa-edit'></i></a> <a class='btn btn-primary' role='button' href='#' data-toggletwo='tooltip' data-placement='top' title='Detalles' onclick='detail(this)'><i class='fa fa-bars'></i></a> <a class='btn btn-success' role='button' href='#' data-toggletwo='tooltip' data-placement='top' title='Realizar Encuesta' onclick='doEncuesta(this)'><i class='fa fa-list-alt'></i></a> </div>",
                            orderable: false
                        },

                    ]
                });
            });

        } else if (flag == "Org") {
            $(document).ready(function () {

                table = $('#candidatosTable').DataTable({
                    stateSave: true,
                    autoWidth: true,
                    // ServerSide Setups
                    processing: true,
                    serverSide: true,
                    // Paging Setups
                    paging: true,
                    "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                    // Searching Setups
                    searching: { regex: true },
                    ajax: {
                        url: '/Candidatos/GetCandidatos',
                        type: 'POST',
                        contentType: 'application/json',
                        dataType: 'json',
                        data: function (d) {
                            return JSON.stringify(d)
                        }
                    },
                    deferRender: true,
                    columns: [
                        { data: "nombre" },
                        { data: "calle" },
                        { data: "numero" },
                        { data: "colonia" },
                        { data: "situacion" },
                        { data: "telefono" },
                        { data: "tipoReportante" },


                    ],
                    columnDefs: [
                        { targets: "no-sort", orderable: false },
                        { targets: "no-search", searchable: false },
                        {
                            targets: 7,
                            data: null,
                            defaultContent: "<div class='d-flex flex-row'> <a class='btn btn-primary' role='button' href='#' data-toggletwo='tooltip' data-placement='top' title='Detalles' onclick='detail(this)'><i class='fa fa-bars'></i></a> <a class='btn btn-info' href='#' data-toggle='modal' data-toggletwo='tooltip' data-target='#asignarAdoptanteModal' title='Adoptar Candidato' onclick='adoptar(this)'><i class='fa fa-user-circle'></i></a></div>",
                            orderable: false
                        },

                    ]
                });
            });

        }
        function edit(rowContext) {
            if (table) {
                var data = table.row($(rowContext).parents("tr")).data();
                //alert("Example showing row edit with id: " + data["id"] + ", name: " + data["name"]);
                window.location.replace("Candidatos/Edit/" + data["id"]);
            }
        }

        function detail(rowContext) {
            if (table) {
                var data = table.row($(rowContext).parents("tr")).data();
                //alert("Example showing row edit with id: " + data["id"] + ", name: " + data["name"]);
                window.location.replace("Candidatos/Details/" + data["id"]);
            }
        }

        function deleted(rowContext) {
            if (table) {
                var data = table.row($(rowContext).parents("tr")).data();
                //alert("Example showing row edit with id: " + data["id"] + ", name: " + data["name"]);
                window.location.replace("Candidatos/Delete/" + data["id"]);
            }
        }

        function doEncuesta(rowContext) {
            if (table) {
                var data = table.row($(rowContext).parents("tr")).data();
                //alert("Example showing row edit with id: " + data["id"] + ", name: " + data["name"]);
                window.location.replace("Encuestas/CrearYEncuestar/" + data["id"]);
            }
        }

        function asignar (rowContext) {
            if (table) {
                var data = table.row($(rowContext).parents("tr")).data();
                $(".modal-body #CandidatoId").val(data["id"])
                auxID = data["id"];
            }
        }

        function asignar_proyecto(rowContext) {
            if (table) {
                var data = table.row($(rowContext).parents("tr")).data();
                $(".modal-body #CandidatoId").val(data["id"])
                C_id = data["id"];
            }
        }

    </script>

    <script>
        window.addEventListener("load", function (event) {
            document.querySelector('.active').classList.remove('active');
        });
    </script>
}

<script>
    window.addEventListener("load", function (event) {
        document.querySelector('.active').classList.remove('active');
        document.getElementById("DBCandidatos").setAttribute("aria-expanded", "true");
        document.getElementById("DBCCandidatos").classList.add("active");
        console.log("Pruebas");
    });
</script>

<!--------------------------------------------------- Modal Asignar adoptante --------------------------------------------------->

<div class="modal fade" id="asignarAdoptanteModal" tabindex="-1" role="dialog" aria-labelledby="asignarModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <!--Modal header-->
            <div class="modal-header">
                <h5 class="modal-title" id="asignarModalLabel">Adoptar a un Candidato</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <!--Form-->
            <div class="modal-body">
                <form asp-action="Create" id="CreateAdoptantes" asp-controller="AsignadoAdoptantes">
                    <input type="hidden" name="CandidatoId" id="CandidatoId" value="" />
                    <input type="hidden" name="AdoptanteId" id="AdoptanteId" value="" />
                </form>
            </div>

            <!--Button-->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="submit" form="CreateAdoptantes" class="btn btn-primary">Adoptar</button>
            </div>
        </div>
    </div>
</div>
