﻿@model DespensasCore.ViewModels.EncuestaVM

@{
    ViewData["Title"] = "Create";
}

<h1>Realizar Encuesta</h1>
<hr />
<div class="row">
    <form asp-action="Create">
        <div class="d-flex flex-row" style="justify-content:space-around">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" name="CandidatoId" value="@Model.CandidatoId" />
                

            <div class="card">
                <div class="card-header">

                </div>
                <div class="card-body">
                    <p>@Model.Candidato.Nombre</p>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="FechaLlamada" class="control-label"></label>
                <input asp-for="FechaLlamada" class="form-control" />
                <span asp-validation-for="FechaLlamada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstatusLlamada" class="control-label"></label>
                <select asp-for="EstatusLlamada" asp-items="@Html.GetEnumSelectList<DespensasCore.Utilities.EstatusLlamada>()" class="form-control"></select>
                <span asp-validation-for="EstatusLlamada" class="text-danger"></span>
            @*</div>
            <div class="form-group">
                <label asp-for="TotalPuntos" class="control-label"></label>
                <span asp-validation-for="TotalPuntos" class="text-danger"></span>
            </div>*@
                <input asp-for="TotalPuntos" type="hidden" class="form-control" disabled/>


        </div>

        <div class="col">
            @*@{ int i = 1;}
            @foreach (var p in Model.Preguntas)

            {
                <hr />
                <input type="hidden" />
                <div class="row mt-3">
                    <div class="col">
                        <div class="form-group">
                            <label for="@("Pregunta"+i)" id="@("PreguntaLabel"+i)" class="preguntaLabel" >@(i + ".-") @p.TextoPregunta</label>
                            <select class="form-control pregunta" id="@("Pregunta"+i)">
                                @foreach (var r in p.RespuestaItems)
                                {
                                    <option value="@r.TextoRespuesta" data-valor="@r.Valor">@r.TextoRespuesta</option>
                                }

                            </select>
                        </div>

                    </div>
                    <div class="col">
                        <label for='@("NotasPregunta"+i)'>@("Notas Pregunta "+i)</label>
                        <textarea class="form-control notaspregunta" id='@("NotasPregunta"+i)' ></textarea>
                    </div>
                </div>
                i++;
            }*@
            
        <div class="form-group">
            <input type="submit" value="Crear" class="btn btn-primary" />
            
            <a class="btn btn-info" asp-controller="Candidatos" asp-action="Index"><i class="fa fa-backward"></i> Regresar</a>
        </div>
           
        </div>
            </div>
    </form>
</div>
@*<button class="btn" onclick="submitQs()">Test</button>*@



@section Scripts {
    <script>
        $(document).ready(function () {
            var qes = document.getElementsByClassName("pregunta");
            var notasQes = document.getElementsByClassName("notaspregunta")
            console.log(qes);
        });
        
        function submitQs() {
            var sumaPuntos = 0;
            var qs = document.getElementsByClassName("pregunta");
            var notasQs = document.getElementsByClassName("notaspregunta")
            var candidatoId = $("#CandidatoId").val();
            var fechaLlamada = $("#FechaLlamada").val();
            var estatusLlamada = $("#EstatusLlamada").val();
            
            var answeredQs = [];
            for (var i = 0; i < qs.length; i++) {
                var qObj = {
                    TextoPregunta: $("#PreguntaLabel"+(i+1)).text() ,
                    Respuesta: qs[i].value,
                    Valor: parseInt(qs[i].options[qs[i].selectedIndex].getAttribute('data-valor')),
                    Notas: notasQs[i].value
                }
                //console.log(qObj.Valor);
                sumaPuntos += qObj.Valor;
                answeredQs.push(qObj);

                //console.log(qObj);
            }
            console.log(answeredQs);
            console.log("Puntos: " + sumaPuntos)
            
            $('#TotalPuntos').val(sumaPuntos)
            var totalPuntos = $('#TotalPuntos').val()


            $.ajax({
                type: "POST",
                url: "/Encuestas/Create",
                data: {
                    CandidatoId: candidatoId,
                    AnsweredQs: answeredQs,
                    FechaLlamada: fechaLlamada,
                    EstatusLlamada: estatusLlamada,
                    TotalPuntos: totalPuntos,
                },
                error: function (jqxhr, status, exception) {
                    console.log(exception)
                }

            })


        }
    </script>
} 

<script>
    window.addEventListener("load", function (event) {
        document.querySelector('.active').classList.remove('active');
        document.getElementById("DBEncuestas").setAttribute("aria-expanded", "true");
        document.getElementById("DBEEncuestas").classList.add("active");
        console.log("Pruebas");
    });
</script>