﻿@model DespensasCore.Models.Encuesta

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

    <h4>Encuesta</h4>
    <hr />

@*Datos generales de la encuesta*@
<div class="row">
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Candidato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Candidato.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaLlamada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaLlamada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstatusLlamada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstatusLlamada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalPuntos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalPuntos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastUpdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastUpdate)
        </dd>
    </dl>
</div>

@*Se muestran todas las preguntas y sus respuestas*@
<div class="row">
    <div class="col">
        @{ int i = 1;}
        @foreach (var p in Model.Preguntas)

        {
            <hr />
            <input type="hidden" />
            <div class="row mt-3">
                <div class="col">
                    <div class="form-group">
                        
                        <div class="col">
                            <label for="@("Pregunta"+i)" id="@("PreguntaLabel"+i)" class="preguntaLabel"> @p.TextoPregunta</label>
                        </div>
                        <div class="col">
                            <p value="" disabled />
                        </div>
                    </div>

                </div>
                <div class="col">
                    <label for='@("NotasPregunta"+i)'>Notas</label>
                    <textarea class="form-control" id='@("NotasPregunta"+i)' disabled>@p.Notas</textarea>
                </div>
            </div>
            i++;
        }

        <div class="form-group">
            <input type="submit" value="Enviar encuesta" class="btn btn-primary" />

            <a class="btn btn-info" asp-controller="Candidatos" asp-action="Index"><i class="fa fa-backward"></i> Regresar</a>
        </div>

    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a class="btn btn-info" asp-action="Index"><i class="fas fa-backward"></i> Regresar</a>
</div>

<script>
    window.addEventListener("load", function (event) {
        document.querySelector('.active').classList.remove('active');
        document.getElementById("DBEncuestas").setAttribute("aria-expanded", "true");
        document.getElementById("DBEEncuestas").classList.add("active");
        console.log("Pruebas");
    });
</script>