﻿@model DespensasCore.Models.Encuesta

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Encuesta</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CandidatoId" class="control-label"></label>
                <select asp-for="CandidatoId" class="form-control" asp-items="ViewBag.CandidatoId"></select>
                <span asp-validation-for="CandidatoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaLlamada" class="control-label"></label>
                <input asp-for="FechaLlamada" class="form-control" />
                <span asp-validation-for="FechaLlamada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstatusLlamada" class="control-label"></label>
                <select asp-for="EstatusLlamada" class="form-control"></select>
                <span asp-validation-for="EstatusLlamada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalPuntos" class="control-label"></label>
                <input asp-for="TotalPuntos" class="form-control" />
                <span asp-validation-for="TotalPuntos" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-info" asp-action="Index"><i class="fas fa-backward"></i> Regresar</a>
</div>

<script>
    window.addEventListener("load", function (event) {
        document.querySelector('.active').classList.remove('active');
        document.getElementById("DBEncuestas").setAttribute("aria-expanded", "true");
        document.getElementById("DBEEncuestas").classList.add("active");
        console.log("Pruebas");
    });
</script>