﻿@model DespensasCore.ViewModels.EncuestaVM
@{
    ViewData["Title"] = "Encuestar";
}

<h1>Realizar Encuesta</h1>
<hr />
<div class="row">
    <form>
        <div class="d-flex flex-row" style="justify-content:space-around">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="CandidatoId" id="CandidatoId" value="@Model.CandidatoId" />
            <input type="hidden" asp-for="Id" />


            <div class="card">
                <div class="card-header">

                </div>
                <div class="card-body">
                        <p>@Model.Candidato.Nombre</p>
                    </div>
            </div>
            <div class="form-group">
                <label asp-for="FechaLlamada" class="control-label"></label>
                <input asp-for="FechaLlamada" class="form-control" />
                <span asp-validation-for="FechaLlamada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstatusLlamada" class="control-label"></label>
                <select asp-for="EstatusLlamada" asp-items="@Html.GetEnumSelectList<DespensasCore.Utilities.EstatusLlamada>()" class="form-control"></select>
                <span asp-validation-for="EstatusLlamada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalPuntos" class="control-label"></label>
                <input asp-for="TotalPuntos" class="form-control" disabled />
                <span asp-validation-for="TotalPuntos" class="text-danger"></span>
            </div>


        </div>
        <div class="col">
            @{ int i = 1;}
            @foreach (var p in Model.Preguntas)

            {
                <hr />

                <div class="row mt-3">
                    <div class="col">
                        <div class="form-group">
                            <label for="@("Pregunta"+i)" id="@("PreguntaLabel"+i)" class="preguntaLabel">@(i + ".-") @p.TextoPregunta</label>
                            <select class="form-control pregunta" data-preguntaItem="@p.PreguntaItemId" id="@("Pregunta"+i)">
                                @if (string.IsNullOrEmpty(p.Respuesta))
                                {
                                    <option disabled selected> -- Elija una opción -- </option>

                                }
                                else
                                {

                                   <option value="@p.Respuesta" data-valor="@p.Valor">@p.Respuesta</option>
                                }
                                @foreach (var r in p.RespuestaItems)
                                {
                                    <option value="@r.TextoRespuesta" data-valor="@r.Valor">@r.TextoRespuesta</option>
                                }

                            </select>

                        </div>
                    </div>
                    <div class="col">
                        <label for='@("NotasPregunta"+i)'>@("Notas Pregunta "+i)</label>
                        <textarea class="form-control notaspregunta" id='@("NotasPregunta"+i)'></textarea>
                    </div>
                </div>
                i++;
            }

            <div class="form-group">
                <input value="Enviar encuesta" onclick="submitQs()" class="btn btn-primary" />

                <a class="btn btn-info" asp-controller="Candidatos" asp-action="Index"><i class="fa fa-backward"></i> Regresar</a>
            </div>

        </div>
    </form>
</div>
@*<button class="btn" onclick="submitQs()">Test</button>*@



@section Scripts {
    <script>

        function submitQs() {
            var sumaPuntos = 0;
            var qs = document.getElementsByClassName("pregunta");
            var notasQs = document.getElementsByClassName("notaspregunta")
            var candidatoId = $("#CandidatoId").val();
            var fechaLlamada = $("#FechaLlamada").val();
            var estatusLlamada = $("#EstatusLlamada").val();
            //var preguntaItemId = $("#PreguntaItemId").val();
            var id = $("#Id").val();

            var answeredQs = [];
            for (var i = 0; i < qs.length; i++) {
                /* El problema era que el valor original (guardado aqui en valorTemp) podia ser un NaN. Es decir, un valor numerico no valido*/
                var valorTemp = parseInt(qs[i].options[qs[i].selectedIndex].getAttribute('data-valor'));
                /* Aqui checamos si el valor es NaN. Si lo es, lo convertimos a 0, si no, lo dejamos igual*/
                var valor = Number.isNaN(valorTemp) ? 0 : valorTemp;
                var qObj = {
                    TextoPregunta: $("#PreguntaLabel"+(i+1)).text() ,
                    Respuesta: qs[i].value,
                    Valor: valor,
                    Notas: notasQs[i].value,
                    PreguntaItemId: parseInt(qs[i].getAttribute('data-preguntaItem'))
                }

                console.log("valor: " + qObj.Valor);
                sumaPuntos += qObj.Valor;
                answeredQs.push(qObj);

                //console.log(qObj);
            }
            console.log(answeredQs);
            console.log("Puntos: " + sumaPuntos)

            $('#TotalPuntos').val(sumaPuntos)
            var totalPuntos = $('#TotalPuntos').val()

            console.log("total puntos")
            console.log(totalPuntos.toString())
            $.ajax({
                type: "POST",
                url: "/Encuestas/Encuestar/"+id,
                data: {
                    Id: id,
                    CandidatoId: candidatoId,
                    AnsweredQs: answeredQs,
                    FechaLlamada: fechaLlamada,
                    EstatusLlamada: estatusLlamada,
                    TotalPuntos: totalPuntos,
                },
                success: function () {
                    var url = '@Url.Action("Index", "Encuestas")';
                    window.location.href = url;
                },
                error: function (jqxhr, status, exception) {
                    console.log(exception)
                }

            })


        }
    </script>
}

<script>
    window.addEventListener("load", function (event) {
        document.querySelector('.active').classList.remove('active');
        document.getElementById("DBEncuestas").setAttribute("aria-expanded", "true");
        document.getElementById("DBEEncuestas").classList.add("active");
        console.log("Pruebas");
    });
</script>