﻿@model IEnumerable<DespensasCore.Models.Encuesta>

@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Encuestas Realizadas";
}

<h1>Encuestas</h1>

@*<p>
        <a asp-action="Create">Create New</a>
    </p>*@
<table class="table" id="tableId" onload="ia()">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Candidato.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaLlamada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstatusLlamada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPuntos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastUpdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDeleted)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Candidato.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaLlamada)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EstatusLlamada)
                </td>
                <td class="prioridad">
                    @Html.DisplayFor(modelItem => item.TotalPuntos)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastUpdate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsDeleted)
                </td>
                <!--
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>-->
            </tr>
        }
    </tbody>
</table>
@section Scripts {

    <script>

        var table;

        $(document).ready(function () {

            table = $('#tableId').DataTable({
                dom: 'lBfrtip',
                    buttons: [
                        'copy',
                        'csv',
                        {
                            extend: 'excel',
                            messageTop: function()
                            {
                                var user_name = '@User.Identity.Name';
                                return 'Este archivo fue generado por ' + user_name;
                            },
                        },
                        {
                            extend: 'pdf',
                            messageTop: function()
                            {
                                var user_name = '@User.Identity.Name';
                                return 'Este archivo fue generado por ' + user_name;
                            },
                        },
                        {
                            extend: 'print',
                            messageTop: function()
                            {
                                var user_name = '@User.Identity.Name';
                                return 'Este archivo fue generado por ' + user_name;
                            },
                        }
                    ],
                stateSave: true,
                autoWidth: true,
                // ServerSide Setups
                processing: true,
                serverSide: true,
                // Paging Setups
                paging: true,
                "lengthMenu": [[10, 25, 50, 100, 500, 1000], [10, 25, 50, 100, 500, 1000]],
                // Searching Setups
                searching: { regex: true },
                ajax: {
                    url: '/Encuestas/GetEncuestas',
                    type: 'POST',
                    contentType: 'application/json',
                    dataType: 'json',
                    data: function (d) {
                        return JSON.stringify(d)
                    }
                },
                columns: [
                    { data: "candidato.nombre" },
                    { data: "fechaLlamada" },
                    { data: "estatusLlamada" },
                    { data: "totalPuntos" },
                    { data: "creationDate" },
                    { data: "lastUpdate" },
                    { data: "isDeleted" },

                ],
                columnDefs: [
                    { targets: "no-sort", orderable: false },
                    { targets: "no-search", searchable: false },
                    {
                        targets: 7,
                        data: null,
                        defaultContent: " ",
                        orderable: true
                    },

                ],
                language: {
                    "processing": "Procesando...",
                    "lengthMenu": "Mostrar _MENU_ registros",
                    "zeroRecords": "No se encontraron resultados",
                    "emptyTable": "Ningún dato disponible en esta tabla",
                    "info": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "infoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "search": "Buscar:",
                    "infoThousands": ",",
                    "loadingRecords": "Cargando...",
                    "paginate": {
                        "first": "Primero",
                        "last": "Último",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    },
                    "aria": {
                        "sortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sortDescending": ": Activar para ordenar la columna de manera descendente"
                    },
                    "buttons": {
                        "copy": "Copiar",
                        "colvis": "Visibilidad",
                        "collection": "Colección",
                        "colvisRestore": "Restaurar visibilidad",
                        "copyKeys": "Presione ctrl o u2318 + C para copiar los datos de la tabla al portapapeles del sistema. <br \/> <br \/> Para cancelar, haga clic en este mensaje o presione escape.",
                        "copySuccess": {
                            "1": "Copiada 1 fila al portapapeles",
                            "_": "Copiadas %d fila al portapapeles"
                        },
                        "copyTitle": "Copiar al portapapeles",
                        "csv": "CSV",
                        "excel": "Excel",
                        "pageLength": {
                            "-1": "Mostrar todas las filas",
                            "1": "Mostrar 1 fila",
                            "_": "Mostrar %d filas"
                        },
                        "pdf": "PDF",
                        "print": "Imprimir"
                    },
                    "autoFill": {
                        "cancel": "Cancelar",
                        "fill": "Rellene todas las celdas con <i>%d<\/i>",
                        "fillHorizontal": "Rellenar celdas horizontalmente",
                        "fillVertical": "Rellenar celdas verticalmentemente"
                    },
                    "decimal": ",",
                    "searchBuilder": {
                        "add": "Añadir condición",
                        "button": {
                            "0": "Constructor de búsqueda",
                            "_": "Constructor de búsqueda (%d)"
                        },
                        "clearAll": "Borrar todo",
                        "condition": "Condición",
                        "conditions": {
                            "date": {
                                "after": "Despues",
                                "before": "Antes",
                                "between": "Entre",
                                "empty": "Vacío",
                                "equals": "Igual a",
                                "not": "No",
                                "notBetween": "No entre",
                                "notEmpty": "No Vacio"
                            },
                            "moment": {
                                "after": "Despues",
                                "before": "Antes",
                                "between": "Entre",
                                "empty": "Vacío",
                                "equals": "Igual a",
                                "not": "No",
                                "notBetween": "No entre",
                                "notEmpty": "No vacio"
                            },
                            "number": {
                                "between": "Entre",
                                "empty": "Vacio",
                                "equals": "Igual a",
                                "gt": "Mayor a",
                                "gte": "Mayor o igual a",
                                "lt": "Menor que",
                                "lte": "Menor o igual que",
                                "not": "No",
                                "notBetween": "No entre",
                                "notEmpty": "No vacío"
                            },
                            "string": {
                                "contains": "Contiene",
                                "empty": "Vacío",
                                "endsWith": "Termina en",
                                "equals": "Igual a",
                                "not": "No",
                                "notEmpty": "No Vacio",
                                "startsWith": "Empieza con"
                            }
                        },
                        "data": "Data",
                        "deleteTitle": "Eliminar regla de filtrado",
                        "leftTitle": "Criterios anulados",
                        "logicAnd": "Y",
                        "logicOr": "O",
                        "rightTitle": "Criterios de sangría",
                        "title": {
                            "0": "Constructor de búsqueda",
                            "_": "Constructor de búsqueda (%d)"
                        },
                        "value": "Valor"
                    },
                    "searchPanes": {
                        "clearMessage": "Borrar todo",
                        "collapse": {
                            "0": "Paneles de búsqueda",
                            "_": "Paneles de búsqueda (%d)"
                        },
                        "count": "{total}",
                        "countFiltered": "{shown} ({total})",
                        "emptyPanes": "Sin paneles de búsqueda",
                        "loadMessage": "Cargando paneles de búsqueda",
                        "title": "Filtros Activos - %d"
                    },
                    "select": {
                        "1": "%d fila seleccionada",
                        "_": "%d filas seleccionadas",
                        "cells": {
                            "1": "1 celda seleccionada",
                            "_": "$d celdas seleccionadas"
                        },
                        "columns": {
                            "1": "1 columna seleccionada",
                            "_": "%d columnas seleccionadas"
                        }
                    },
                    "thousands": "."
                }
            });
        });



    </script>

    <script>

        window.onload = ia();

        function ia() {
            var table = document.getElementById("tableId");
            var tbodyRowCount = table.tBodies[0].rows.length;

            for (i = 0; i < tbodyRowCount; i++) {
                var row = document.getElementsByClassName("prioridad")[i].innerHTML;
                if (row >= 0 && row <= 19) {
                    document.getElementsByClassName("prioridad")[i].innerHTML = "IA Baja";
                }
                if (row >= 20 && row <= 39) {
                    document.getElementsByClassName("prioridad")[i].innerHTML = "IA Moderada";
                }
                if (row > 40) {
                    document.getElementsByClassName("prioridad")[i].innerHTML = "IA Servera";
                }
            }
        }

    </script>

}

<script>
    window.addEventListener("load", function (event) {
        document.querySelector('.active').classList.remove('active');
        document.getElementById("DBEncuestas").setAttribute("aria-expanded", "true");
        document.getElementById("DBEEncuestas").classList.add("active");
        console.log("Pruebas");
    });
</script>