﻿@model DespensasCore.Models.BankAccount

@{
    ViewData["Title"] = "Create";
}

<h1>Registro</h1>

<h4>Cuenta Bancaria</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NumCuenta" class="control-label"></label>
                <input asp-for="NumCuenta" class="form-control" />
                <span asp-validation-for="NumCuenta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Clabe" class="control-label"></label>
                <input asp-for="Clabe" class="form-control" />
                <span asp-validation-for="Clabe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Banco" class="control-label"></label>
                <input asp-for="Banco" class="form-control" />
                <span asp-validation-for="Banco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombrePropietario" class="control-label"></label>
                <input asp-for="NombrePropietario" class="form-control" />
                <span asp-validation-for="NombrePropietario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Monto" class="control-label"></label>
                <input asp-for="Monto" class="form-control" />
                <span asp-validation-for="Monto" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Guardar Cambios" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    window.addEventListener("load", function (event) {
        document.querySelector('.active').classList.remove('active');
        document.getElementById("DBCuentas").classList.add("active");
        console.log("Pruebas");
    });
</script>