﻿@model DespensasCore.Models.Producto

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Producto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Resultado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Resultado.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Indicadores)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Indicadores)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LineaBase)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LineaBase)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LineaSalida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LineaSalida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MediosVerificacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MediosVerificacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Supuestos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Supuestos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastUpdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastUpdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Regresar a la lista</a>
</div>
