﻿@model DespensasCore.Models.Producto

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Producto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ResultadoId" class="control-label"></label>
                <select asp-for="ResultadoId" class="form-control" asp-items="ViewBag.ResultadoId"></select>
                <span asp-validation-for="ResultadoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Indicadores" class="control-label"></label>
                <input asp-for="Indicadores" class="form-control" />
                <span asp-validation-for="Indicadores" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LineaBase" class="control-label"></label>
                <input asp-for="LineaBase" class="form-control" />
                <span asp-validation-for="LineaBase" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LineaSalida" class="control-label"></label>
                <input asp-for="LineaSalida" class="form-control" />
                <span asp-validation-for="LineaSalida" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MediosVerificacion" class="control-label"></label>
                <input asp-for="MediosVerificacion" class="form-control" />
                <span asp-validation-for="MediosVerificacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Supuestos" class="control-label"></label>
                <input asp-for="Supuestos" class="form-control" />
                <span asp-validation-for="Supuestos" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="CreationDate" class="control-label"></label>
                <input asp-for="CreationDate" class="form-control" />
                <span asp-validation-for="CreationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar Cambios" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
