﻿@model IEnumerable<DespensasCore.Models.Tarea>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Tareas</h1>

@{
    if (ViewBag.flag == true)
    {
        <div class="btn btn-warning">No existen Actividades, primero debes registrar una Actividad</div>
    }
    else
    {
        <a class="btn btn-success" asp-action="Create"><i class="fa fa-plus"></i> Registrar Nueva Tarea</a>
    }
}


<table class="table dtable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Actividad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Indicadores)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LineaBase)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LineaSalida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MediosVerificacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Supuestos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastUpdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDeleted)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Actividad.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Indicadores)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LineaBase)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LineaSalida)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MediosVerificacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Supuestos)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastUpdate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsDeleted)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
