﻿
@{
    ViewData["Title"] = "Index";
}

<h1>Panel de Administrador</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">

                </div>
                <div class="card-body">
                    <div class="row text-center">
                        <div class="col-md-4 col-sm-6">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">Entrevistas</h3>
                                </div>
                                <div class="card-body">
                                    <div class="list-group text-left">
                                        <a class="list-group-item list-group-item-action" asp-area="Admin" asp-controller="PreguntaItems" asp-action="Index">Agregar pregunta a Entrevista</a>
                                        <a class="list-group-item list-group-item-action" asp-area="Admin" asp-controller="RespuestaItems" asp-action="Index">Agregar Opción de Respuesta a Entrevista</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">General</h3>
                                </div>
                                <div class="card-body">
                                    <div class="list-group text-left">
                                        <a class="list-group-item list-group-item-action" asp-area="Admin" asp-controller="Colonias" asp-action="Index">Agregar Colonia</a>
                                        <a class="list-group-item list-group-item-action" asp-area="Admin" asp-controller="Situaciones" asp-action="Index">Agregar tipo de situación de Candidato</a>
                                        <a class="list-group-item list-group-item-action" asp-area="Admin" asp-controller="TipoAdoptantes" asp-action="Index">Agregar tipo de Adoptante</a>
                                        <a class="list-group-item list-group-item-action" asp-area="Admin" asp-controller="TipoReportantes" asp-action="Index">Agregar tipo de Reportante</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">

                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">Usuarios</h3>
                                </div>
                                <div class="card-body">
                                    <div class="list-group text-left">
                                        <a class="list-group-item list-group-item-action" asp-area="Identity" asp-controller="Account" asp-action="UserRegister">Registrar Nuevo Usuario</a>
                                        <a class="list-group-item list-group-item-action" href="#">Lista de Usuarios</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    window.addEventListener("load", function (event) {
        document.querySelector('.active').classList.remove('active');
        document.getElementById("DBAdministrador").setAttribute("aria-expanded", "true");
        document.getElementById("DBAPanel").classList.add("active");
        console.log("Pruebas");
    });
</script>
