﻿
@{
    ViewData["Title"] = "Index";
}

<h1>Portal Público</h1>

<div class="row">
    <div class="col">
        <div class="card text-white bg-primary">
            <div class="card-header">
                <h5 class="card-title text-center">Registrar Candidato</h5>
            </div>
            <div class="card-body">
                
                <p class="card-text">Realizar el registro de algun candidato a recibir apoyo</p>
                <a href="/Candidatos/Create" class="btn btn-primary btn-block stretched-link">Registrar</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">

        </div>
    </div>
    <div class="col">
        <div class="card">

        </div>
    </div>
    <div class="col">
        <div class="card">

        </div>
    </div>
</div>

<script>
    window.addEventListener("load", function (event) {
        document.querySelector('.active').classList.remove('active');
        document.getElementById("DBPublico").setAttribute("aria-expanded", "true");
        document.getElementById("DBPPortal").classList.add("active");
        console.log("Pruebas");
    });
</script>