﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

#logo {
    width: 168px; /*168 o 80% */
    height: 171.75px; /*171.75 o 80% */
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-image: url("../img/ifjs-logo.png");
    background-size: 168px 172px;
}

    #logo.active {
        width: 80px;
        height: 82px;
        background-image: url("../img/ifjs-logo-crop.png");
        background-size: 80px 82px;
    }

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  /*overflow-x: hidden;*/
}
.footer {
  position: absolute;
  bottom: 0;
  width: 70vw;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.footer-linea {
    width: 70vw;
    bottom: 45px;
}