﻿@model DespensasCore.Models.UsuarioProyecto

@{
    ViewData["Title"] = "Create";
}

<h1>Crear</h1>

<h4>Asignar a proyecto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="User" class="control-label"></label>
                <select asp-for="User" class="form-control" asp-items="ViewBag.UserId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Proyecto" class="control-label"></label>
                <select asp-for="Proyecto" asp-items="ViewBag.ProyectoId" class="form-control"></select>

            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-info" asp-action="Index"><i class="fas fa-backward"></i> Regresar</a>
</div>

<script>
    window.addEventListener("load", function (event) {
        document.querySelector('.active').classList.remove('active');
        document.getElementById("DBBeneficiarios").classList.add("active");
        console.log("Pruebas");
    });
</script>