﻿@model IEnumerable<DespensasCore.Models.User>


@{
    ViewData["Title"] = "Index";
}

<h1>Lista de usuarios</h1>

<table class="table dtable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellidos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellidos)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>

                <td class="d-flex">
                    <a class="btn btn-info" href="#" data-toggle="modal" data-toggletwo="tooltip" data-userid="@item.Id" data-target="#asignarProyectoModal" title="Asignar a un proyecto"><i class="fa fa-user-circle"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {

    <script>
        $('#asignarProyectoModal').on('show.bs.modal', function (event) {
            var userId = $(event.relatedTarget).data('userid')
            console.log(userId);
            $(this).find('.modal-body #UserId').val(userId)


            console.log($(this).find('.modal-body #ProyectoId').val());

        })
    </script>

}

<!--------------------------------------------------- Modal Asignar proyecto a usuario --------------------------------------------------->

<div class="modal fade" id="asignarProyectoModal" tabindex="-1" role="dialog" aria-labelledby="asignarModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <!--Modal header-->
            <div class="modal-header">
                <h5 class="modal-title" id="asignarModalLabel">Asignar a proyecto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <!--Form-->
            <div class="modal-body">
                <form asp-action="Create" id="CreateUsuarioProyecto" asp-controller="UsuarioProyectos">
                    <input type="hidden" name="UserId" id="UserId" value="" />
                    <div class="form-group">
                        <label for="ProyectoId" class="control-label">Proyecto</label>
                        <select name="ProyectoId" id="ProyectoId" asp-items="ViewBag.ProyectoIdTS" class="form-control"></select>

                    </div>
                </form>
            </div>

            <!--Button-->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="submit" form="CreateUsuarioProyecto" class="btn btn-primary">Asignar</button>
            </div>
        </div>
    </div>
</div>

<script>
    window.addEventListener("load", function (event) {
        document.querySelector('.active').classList.remove('active');
        document.getElementById("DBUsuarios").classList.add("active");
        console.log("Pruebas");
    });
</script>
