﻿@model DespensasCore.Models.Donante

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar Donante</h1>

<h4>Donante</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoDonanteId" class="control-label"></label>
                <select asp-for="TipoDonanteId" class="form-control" asp-items="ViewBag.TipoDonanteId"></select>
                <span asp-validation-for="TipoDonanteId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PeriodicidadDonacionId" class="control-label"></label>
                <select asp-for="PeriodicidadDonacionId" class="form-control" asp-items="ViewBag.PeriodicidadDonacionId"></select>
                <span asp-validation-for="PeriodicidadDonacionId" class="text-danger"></span>
            </div>

            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="CreationDate" class="control-label"></label>
                <input asp-for="CreationDate" class="form-control" />
                <span asp-validation-for="CreationDate" class="text-danger"></span>
            </div>
            <!--
                <div class="form-group">
                    <label asp-for="LastUpdate" class="control-label"></label>
                    <input asp-for="LastUpdate" class="form-control" />
                    <span asp-validation-for="LastUpdate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IsDeleted" class="control-label"></label>
                    <input asp-for="IsDeleted" class="form-control" />
                    <span asp-validation-for="IsDeleted" class="text-danger"></span>
                </div>
            -->
            <div class="form-group">
                <input type="submit" value="Guardar Cambios" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    window.addEventListener("load", function (event) {
        document.querySelector('.active').classList.remove('active');
        document.getElementById("DBDonantes").setAttribute("aria-expanded", "true");
        document.getElementById("DBDLista").classList.add("active");
        console.log("Pruebas");
    });
</script>