﻿@model IEnumerable<DespensasCore.Models.Donante>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Donantes</h1>

<a class="btn btn-success" asp-action="Create"><i class="fa fa-plus"></i> Registrar un nuevo Donante</a>

<table class="table dtable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoDonante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Periodicidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastUpdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDeleted)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoDonante.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Periodicidad.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastUpdate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsDeleted)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    window.addEventListener("load", function (event) {
        document.querySelector('.active').classList.remove('active');
        document.getElementById("DBDonantes").setAttribute("aria-expanded", "true");
        document.getElementById("DBDLista").classList.add("active");
        console.log("Pruebas");
    });
</script>