﻿@model IEnumerable<DespensasCore.Models.PeriodicidadDonacion>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Periodicidad de Donaciones</h1>

<p>
    <a class="btn btn-success" asp-action="Create"><i class="fa fa-plus"></i> Registrar nuevo Periodicidad de Donacion</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDeleted)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDeleted)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>

<script>
    window.addEventListener("load", function (event) {
        document.querySelector('.active').classList.remove('active');
        document.getElementById("DBDonantes").setAttribute("aria-expanded", "true");
        document.getElementById("DBDPeriodicidad").classList.add("active");
        console.log("Pruebas");
    });
</script>